/*Reset*/
*, *:before, *:after { box-sizing: border-box; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: top;
	background: transparent;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: transparent;
	display: block;
	text-decoration: none;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input,select,img {
	vertical-align: middle;
}
form {
	display: inline;
}
a {
	display: block;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
strong {
	font-weight: normal;
}


.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

nav.navbar {
	border-radius: 0;
	background-color: #fff;
    border-color: #fff;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-right: 0;
    margin-left: 0;
}



.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a {
	color: #2f3639;
	background-color: #fff;
	
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #2f3639;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #2f3639;
    background-color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #2f3639;
	background-color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #2f3639;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


.navbar-header {
	padding-top: 20px;
	padding-bottom: 16px;
}


@media (max-width: 1200px){
	.header .container {
		width: 100%;
		padding-right: 0px;
    	padding-left: 0px;
	}
	
}

@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

a.register-button::after {
    content: "|";
	width:15px;
	padding-left: 15px;
}

@media(min-width:1200px){
	ul.main-menu {
		padding-left: 10px;
	}


	ul.main-menu li a {
		padding-top: 41px;
		padding-bottom: 35px;
		padding-left: 5px;
		padding-right: 5px;
	}

	ul.navbar-right li a {
		padding-top: 41px;
		padding-bottom: 35px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.navbar-inverse .navbar-toggle {
    background-color: #333;
}


@media(min-width:1024px){
	ul.main-menu {
		padding-left: 15px;
	}


	ul.main-menu li a {
		padding-top: 41px;
		padding-bottom: 35px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 1.125em;
		font-weight: 600;
	}

	ul.navbar-right li a {
		padding-top: 41px;
		padding-bottom: 35px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 1em;
		font-weight: normal;
	}
}

.login-button .fa {
	font-size: 1.25em;
}

.login-button img {
	margin-left: 10px;
}

@media (max-width: 1200px)
{
	.navbar-brand img {
		max-width: 200px;
		padding-left: 20px;
	}
	
	ul.main-menu li a, ul.navbar-right li a {
		padding-top: 36px;
	}
}

ul.navbar-right li a.switch-lang {
	padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
	margin-bottom: 0;
}

ul#search {
	width: 300px;
}

ul#search li form input {
    width: 100%;
    margin-right: 0px;
    background-color: #e5e5e5;
}

#search .input-group {
	padding: 0 10px;
}

/* footer */
.footer {
	width: 100%;
	background-color: #cbeefd;
	position: relative;
}

.footerCol h3 {
	color:#45a4f4;
	font-size:1.25em;
	font-weight: 600;
	padding-top: 60px;
	text-transform: uppercase;
}

.footerCol h3 span {
	color: #2f3639;
}


.footerCol ul li {
	padding-top: 29px;
}

.footerCol a {
	font-size: 1em;
	color:#2f3639;
}

.footerCol.col3 .fa {
	font-size: 0.75em;
	width: 20px;
}

.footerCol ul li .fa {
	font-size: 0.5em;
    vertical-align: middle;
	width: 10px;
}

.logo_footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30%;
	max-width: 512px;
}

@media (max-width: 991px) {
	.logo_footer {
		display: none;
	}
}


@media (max-width: 991px){
	.socialLink {
	    margin-top: 20px;
    	margin-left: -10px;
	}
}

.socialLink ul {
	padding-bottom: 30px;
}

.footer .socialLink ul {
	display: block;
}


.footer .socialLink ul li {
	display: inline-block;
}

.footer .container {
	position: relative;
}

.toTop img{
	position: absolute;
	top:-30px;
	right:-60px;
}

@media (max-width: 1200px){
	.toTop img{
		position: absolute;
		top:-30px;
		right:10px;
	}
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}