/* your Finance */

/* tab */

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	padding: 50px 0;
	font-weight: 400;
	text-align: center;
}
p {
	margin: 0 0 20px;
	line-height: 1.5;
}
main {
	margin: 0 auto;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
section[id^='content'] {
	display: none;
	padding: 20px 0 0;
	background-color: #fff;
}
input[id*='tab'] {
	display: none;
}
label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 15px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
	background-color: #ccc;
}
label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
/*
label[for*='1']:before {
  content: '\f1cb';
}

label[for*='2']:before {
  content: '\f17d';
}

label[for*='3']:before {
  content: '\f16b';
}

label[for*='4']:before {
  content: '\f1a9';
}
*/

label[for*='2']:hover {
	color: #888;
	cursor: pointer;
}
input[id*='tab']:checked + label {
	color: #555;
}
input[id*='tab'] + label[for*='1'] {
	color: #555;
	background-color: #ccc;
	border-top-left-radius: 30px;
	width: 33.3333333%;
	margin-right: -4px;
}
input[id*='tab']:checked + label[for*='1'] {
	color: #555;
	background-color: #fff;
	border-top-left-radius: 30px;
}
input[id*='tab'] + label[for*='2'] {
	background-color: #ccc;
	width: 33.3333333%;
	margin-right: -5px;
}
input[id*='tab']:checked + label[for*='2'] {
	color: #555;
	background-color: #fff;
}
input[id*='tab'] + label[for*='3'] {
	background-color: #ccc;
	border-top-right-radius: 30px;
	width: 33.3333333%;
}
input[id*='tab']:checked + label[for*='3'] {
	color: #555;
	background-color: #fff;
	border-top-right-radius: 30px;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
	display: block;
}

@media screen and (max-width: 650px) {
label {
	font-size: 0;
}
label:before {
	margin: 0;
	font-size: 18px;
}
}

@media screen and (max-width: 400px) {
label {
	padding: 15px;
}
}
/* chat panel */
.speech-wrapper {
	padding: 30px 40px;
}
.speech-wrapper .bubble {
	width: 86%;
	height: auto;
	display: block;
	background: #f5f5f5;
	border-radius: 4px;
	position: relative;
	margin: 0 0 25px;
}
.speech-wrapper .bubble.alt {
	margin: 0 0 0 60px;
}

@media screen and (max-width: 600px) {
.speech-wrapper .bubble.alt {
	margin: 0 0 0 16px;
}
}
.speech-wrapper .bubble .txt {
	padding: 8px 55px 8px 14px;
}
.speech-wrapper .bubble .txt .name {
	font-weight: 600;
	font-size: 12px;
	margin: 0 0 4px;
	color: #3498db;
}
.speech-wrapper .bubble .txt .name span {
	font-weight: normal;
	color: #b3b3b3;
}
.speech-wrapper .bubble .txt .name.alt {
	color: #2ecc71;
}
.speech-wrapper .bubble .txt .message {
	font-size: 12px;
	margin: 0;
	color: #2b2b2b;
}
.speech-wrapper .bubble .txt .timestamp {
	font-size: 11px;
	position: absolute;
	bottom: 8px;
	right: 10px;
	text-transform: uppercase;
	color: #999;
}
.speech-wrapper .bubble .bubble-arrow {
	position: absolute;
	width: 0;
	bottom: 42px;
	left: -16px;
	height: 0;
}
.speech-wrapper .bubble .bubble-arrow.alt {
	right: -2px;
	bottom: 40px;
	left: auto;
}
.speech-wrapper .bubble .bubble-arrow:after {
	content: "";
	position: absolute;
	border: 0 solid transparent;
	border-top: 9px solid #f5f5f5;
	border-radius: 0 20px 0;
	width: 15px;
	height: 30px;
	transform: rotate(145deg);
}
.speech-wrapper .bubble .bubble-arrow.alt:after {
	transform: rotate(45deg) scaleY(-1);
}
.bgChat {
	background: transparent url(../images/bg_chat.png) repeat-x bottom center;
	width: 100%;
	height: 229px;
}



/* end your finance */


/*start Vân*/

.choiceAward h2{
	font-family: 'Baloo Tamma';
  	font-style: normal;
 	font-weight: 400;
	color: #45a4f4;
	font-size: 30px;
	margin-bottom: 4px;
	text-align: center;
	text-transform: uppercase;
}

.awardArea .ttl_awd h3{
	padding-left: 30px;
	font-size: 21px;
	font-family: 'Montserrat';
  	font-weight: 600;
	margin-bottom: 24px;
	padding-top: 7px;
}

.awardArea .ttl_awd .icon_adw_01{
	background: url(../images/icon_adw_01.png) top left no-repeat;
}

.awardArea .ttl_awd .icon_adw_02{
	background: url(../images/icon_adw_02.png) top left no-repeat;
}

.awardArea .ttl_awd .icon_adw_03{
	background: url(../images/icon_adw_03.png) top left no-repeat;
}

.awardArea .awd_img{
	margin-bottom: 16px;
}

.awardArea .awd_img img{
	max-width: 100%;
	margin: 0 auto;
}

.awardArea .awd_star{
	margin-top: -22px;
	margin-bottom: 15px;
}

.awardArea .awd_txt01{
	color:#0981ff;
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: 1.25;
	margin-bottom: 16px;
}

.awardArea .awd_txt02{
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 600;
	background: url(../images/icon_award.png) no-repeat left;
	padding-left: 25px;
}

.awardArea .awd_more{
	text-align: center;
	border: 1px solid #2369ff;
	width: 168px;
	border-radius: 20px;
	line-height: 1;
	padding: 12px 0 11px;
	margin: 0 auto;
}

.awardArea .awd_more a{
	font-size: 16px;
	text-transform: uppercase;
	color: #2369ff;
}

.awardArea .award_col_pc{
	margin: 0 4%;
}

.awardArea .award_col_pc:focus{
	outline: none;
}

.choiceAward{
	margin-bottom: 80px;
}

.awd_block .adw_block_img{
	margin-bottom: 20px;
}

.awd_block{
	margin-bottom: 90px;
}

.mb24{
	margin-bottom: 24px;
}

.awd_about .see_more{
	background: #4dd965;
	width: 200px;
	text-align: center;
	border-radius: 20px;
	padding: 10px 0;
}

.awd_about .see_more a{
	color:#fff;
	font-size: 20px;
	font-weight: 600;
}

.awd_about .awd_about_cat{
	max-width: 100%;
	margin: 0 auto;
}

.awd_about_cat img{
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
    display: block;
}

.awd_about{
	margin-bottom: 50px;
}

.awd_about .ttl_awd_about h2{
	font-family: 'Baloo Tamma';
    font-weight: 400;
    color: #45a4f4;
	font-size: 30px;
	text-transform: uppercase;
	margin: 30px 0;
}

.awd_about .txt_awd_about{
	margin-bottom: 52px;
}

.awd_about .txt_awd_about p{
	color: #93a4ac;
	font-size: 20px;
	font-family: 'Montserrat';
	line-height: 1.5;
	margin-bottom: 30px;
}

.fb_customer{
	padding-bottom: 230px;
}

.fb_customer .ttl_fb_customer h2{
	font-family: 'Baloo Tamma';
    font-weight: 400;
    color: #45a4f4;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 74px;
}

.fb_customer .txt_fb_customer{
	width: 83%;
	float: right;
}

.fb_customer .txt_fb_customer p{
	font-family: 'Montserrat';
	font-size: 16px;
	color:#555555;
	line-height: 1.875;
	font-weight: 300;
}

.fb_customer .txt_fb_cus {
	margin-bottom: 16px;
}

.fb_customer .txt_fb_customer .name_fb_cus{
	font-weight: 600;
}

.fb_customer .txt_fb_customer p span{
	color:#4dd965;
}

.img_fb_cus{
	width: 17%;
	float: left;
}

.adw_block_img img{
	max-width: 100%;
	margin: 0 auto;
}

.cus_prev,.cus_next{
	width: 63px;
	height: 63px;
	border: none;
	display: block;
	position: absolute;
	top: 37%;
	z-index: 999;
}

.award_slide .cus_prev{
	background: #2369ff url(../images/slick_prev.png) center no-repeat;
	left: -72px;
}

.award_slide .cus_next{
	background: #2369ff url(../images/slick_next.png) center no-repeat;
	right: -72px;
}

.award_slide .cus_prev.slick-disabled {
    background: #3a3a3a url(../images/slick_prev.png) center no-repeat;
}

.award_slide .cus_next.slick-disabled {
    background: #3a3a3a url(../images/slick_next.png) center no-repeat;
}

@media screen and (min-width: 1324px){
	.wrapper {
		width: 1306px !important;
		margin: 0 auto !important;
	}
}
@media screen and (max-width:1324px){
	.award_slide .cus_prev {
		background: #2369ff url(../images/slick_prev.png) center no-repeat;
		left: 0;
	}
	
	.award_slide .cus_next {
		background: #2369ff url(../images/slick_next.png) center no-repeat;
		right: 0;
	}
	
	.cus_prev, .cus_next {
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width: 768px){
	.wrapper{
		width: 100%;
		margin: 0 auto;
	}
	
	.ttl_fb_customer{
		width: 100%;
	}
	
	.col_fb_customer{
		margin-bottom: 30px;
	}
	
	.awardArea .award_col{
		max-width: 276px;
		margin: 0 auto;
	}
	
	.awd_about .ttl_awd_about h2{
		text-align: center;
	}
	
	.awd_about .see_more{
		margin: 0 auto;
	}
	
	.awd_about_left{
		margin-bottom: 40px;
	}
	
	.fb_customer .ttl_fb_customer h2{
		margin-bottom: 30px;
	}
	
	.awd_about{
		margin-bottom: 60px;
	}
	
	.awd_about .txt_awd_about p{
		margin-bottom: 20px;
	}
	
	.awd_about .txt_awd_about{
		margin-bottom: 30px;
	}
	
	.awardArea .award_col_pc{
		margin: 0 auto;
	}
	
	.img_fb_cus{
		width: 100%;
		float: none;
	}
	
	.txt_fb_customer{
		width: 100% !important;
		float: none !important;
	}
	
	.award_slide .cus_prev{
		left: -72px;
	}

	.award_slide .cus_next{
		right: -72px;
	}
	
	.cus_prev,.cus_next{
		width:35px;
		height: 35px;
	}
	
	.award_slide .cus_prev{
		left: 0;
	}
	
	.award_slide .cus_next{
		right: 0;
	}
	
	.fb_customer{
		padding-bottom: 50px;
	}
}


/*end Vân*/

/*start Hiếu*/
