.about_wrap {
    background: url(../images/bg_about.jpg) top no-repeat;
}

.about_wrap h2 {
    font-family: 'BalooTamma';
    font-weight: 400;
    color: #45a4f4;
    font-size: 30px;
    text-transform: uppercase;
}

.aboutHeadArea {
    background: url(../images/about_head.jpg) top center no-repeat;
    padding-bottom: 110px;
    ;
}

.about_comokunArea {
    float: right;
    background: url(../images/about_comokun.png) no-repeat top center;
    width: 773px;
    height: 610px;
    margin-top: 78px;
}

.about_comokun {
    padding: 124px 65px 204px 98px;
}

.about_comokun h2 {
    margin-bottom: 15px;
}

.about_comokun p {
    font-size: 20px;
    color: #93a4ac;
    line-height: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.why_choose {
    margin-bottom: 72px;
}

.why_choose h2 {
    text-align: center;
    margin-bottom: 5px;
}

.why_choose .why_choose_txt {
    width: 680px;
    margin: 0 auto;
    text-align: center;
    color: #93a4ac;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 72px;
    letter-spacing: 0.8px;
}

.why_choose_img {
    max-width: 1170px;
    width: 100%;
}

.why_choose_img li {
    float: left;
    margin-right: 30px;
}

.why_choose_img li img {
    max-width: 1170px;
    width: 100%;
}

.why_choose_img li:last-child {
    margin-right: 0!important;
}

.fb_customer {
    padding-bottom: 225px;
}

.ttl_fb_customer {
    margin-bottom: 48px;
    text-align: center;
}

.fb_customer .ttl_fb_customer h2 {
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.ttl_fb_customer p {
    width: 680px;
    margin: 0 auto;
    color: #93a4ac;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.8px;
    font-size: 20px;
}

.fb_customer .txt_fb_customer {
    width: 83%;
    float: right;
}

.fb_customer .txt_fb_customer p {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #555555;
    font-weight: 300;
}

.fb_customer .txt_fb_cus {
    line-height: 1.875;
    margin-bottom: 23px;
}

.fb_customer .name_fb_cus {
    line-height: 1;
    margin-bottom: 4px;
}

.fb_customer .txt_fb_customer .name_fb_cus {
    font-weight: 600;
}

.fb_customer .txt_fb_customer p span {
    color: #4dd965;
}

.img_fb_cus {
    width: 17%;
    float: left;
}

.about_comoImg {
    display: none;
}

@media (max-width:768px) {
    .aboutHeadArea {
        padding-bottom: 40px;
        background: transparent;
    }
    .about_comokunArea {
        background: #fff;
        width: 98%;
        height: auto;
        margin: 0 auto;
        border-radius: 6%;
        background-size: 100%;
    }
    .about_comokunArea {
        float: none;
    }
    .about_comoImg {
        display: block;
        text-align: center;
    }
    .about_comoImg img {
        max-width: 100%;
    }
    .about_comokun {
        padding: 40px 30px;
        border-bottom: 2px #22a287 solid;
    }
    .about_comokun p {
        font-size: 16px;
    }
    .why_choose .why_choose_txt {
        width: 100%;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .ttl_fb_customer {
        margin-bottom: 20px;
    }
    .ttl_fb_customer p {
        width: 100%;
        font-size: 16px;
    }
    .why_choose_img li {
        width: 48%;
        margin: 0 auto;
        margin-right: 2%;
        text-align: center;
    }
    .why_choose_img li:nth-child(2n) {
        margin-right: 0 !important;
    }
    .why_choose_img li img {
        height: 210px;
        width: auto;
        max-width: 100%;
    }
    .col_fb_customer {
        margin-bottom: 30px;
    }
    .img_fb_cus {
        width: 100%;
        float: none;
        text-align: center;
    }
    .txt_fb_customer {
        width: 100% !important;
        float: none !important;
    }
    .fb_customer {
        padding-bottom: 100px;
    }
}


/*//new design*/

.row.why_choose {
    margin-left: 0;
    margin-right: 0;
}

.why_choose_img {
    max-width: unset;
}

.why_choose {
    margin-bottom: 25px;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.why_choose_img {
    display: block;
}

.why_choose_img::after {
    clear: both;
    content: '';
}

.why-description {
    font-size: 18px;
    color: #93a4ac;
    text-align: center;
    padding: 10px;
}

.why_choose_img li {
    display: inline-block;
    float: unset;
    width: calc((100% / 4) - 30px);
}

.why_choose_img li img {
    max-width: 100%;
    width: unset;
}

@media(max-width: 992px) {
    .why_choose_img li {
        width: calc((100% / 2) - 30px);
    }
    .why_choose_img li:nth-child(even) {
        margin-right: 0;
    }
}

@media(max-width: 640px) {
    .why_choose_img li {
        width: 100%;
        margin: 0;
    }
}

.about-attractive {
    max-width: 970px;
    margin: 0 auto;
}

.attractive-description,
.img-attractive {
    display: inline-block;
}

.img-attractive {
    vertical-align: bottom;
    text-align: center;
    margin-left: 40px;
}

.attractive-description {
    vertical-align: bottom;
    padding-left: 25px;
    color: #93a4ac;
    font-size: 18px;
    width: calc(100% - 170px);
}

.attractive-description .title {
    font-weight: bold;
}

.block-about-consult {
    padding: 20px 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #4484c4;
    color: #fff;
    text-align: center;
}

.consult-description {
    text-align: center;
}

.btn-request,
.btn-chat {
    text-align: center;
    padding: 8px 15px;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    margin-top: 25px;
    font-size: 20px;
}

.btn-request {
    width: 200px;
    background-color: #4dd965;
}

.btn-chat {
    width: 240px;
    margin-right: 25px;
    background-color: #45a4f4;
}

@media(max-width: 640px) {
    .btn-chat {
        margin-left: 0;
    }
}

.introduct-about-title {
    color: #45a4f4;
    font-size: 30px;
    font-family: 'BalooTamma';
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 15px;
}

.introduct-about-text {
    padding: 15px;
    font-size: 20px;
    letter-spacing: 0.9px;
    color: #93a4ac;
    line-height: 28px;
}

.introduct-img {
    text-align: center;
}

.introduct-img img {
    max-width: 100%;
    width: unset;
}

.introduct-about-text p {
    margin-bottom: 20px;
}

.block-about-attractive {
    padding-left: 25px;
    padding-right: 25px;
}

.fb_customer {
    margin-top: 30px;
}

@media(max-width: 640px) {
    .block-about-attractive {
        padding-left: 10px;
        padding-right: 10px;
    }
    .img-attractive {
        margin-left: 20px;
    }
}