body {
	background: none;
}

.wrapOuter {
	background: url(../images/bg_blog.jpg) no-repeat top center;
	padding-top: 118px;
}

.no-bg {
	background: none;
}

.p0 {
	padding: 0;
}

.maxw100p {
	max-width: 100%;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
}

.wrapBlogDetail {
	max-width: 775px;
	margin: 0 auto;
}

.kv {
	box-shadow: 0 0 24px rgba(63,122,132,0.2);
}

.kv>img {
	max-width: 100%;
}

.blogArea {
	overflow-x: hidden;
}

.blogList {
	margin-top: 67px;
	margin-right: -34px;
	margin-left: 4px;
}

.blogList>.blog {
	display: inline-block;
	width: 33.3333%;
	padding-right: 30px;
	margin-left: -4px;
}

.blogImg img {
	display: block;
	width: 100%;
	max-width: 370px;
	margin: 0 auto;
}

.blogContent {
	padding: 18px 20px 40px;
}

.blog .blogName {
	margin-bottom: 10px;
}

.blog .blogName>a {
	color: #2887fb;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
}

.blog .date {
	color: #3c4f5e;
	font-size: 14px;
	line-height: 1;
	font-style: italic;
}

.pagination {
	display: inline-block;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 220px;
}

.pagination>li {
	display: inline-block;
	padding: 14px 9px;
	border-top: 1px solid #d6e1e5;
	border-bottom: 1px solid #d6e1e5;
	margin-left: -4px;
	margin-bottom: 10px;
}

.pagination>li:first-child {
	border-radius: 5px 0 0 5px;
}

.pagination>li:last-child {
	border-radius: 0 5px 5px 0;
}

.pagination>li.prev {
	border: 1px solid #d6e1e5;
	padding-left: 20px;
}

.pagination>li.next {
	border: 1px solid #d6e1e5;
	padding-right: 20px;
}

.pagination>li>a {
	width: 2em;
	height: 2em;
	border-radius: 50% !important;
	color: #b2c6cd;
	font-size: 18px !important;
	line-height: 2em !important;
	border: none;
	padding: 0;
}

.pagination>li:hover>a, .pagination>li.is-active>a {
	color: #252525;
	background: #e1eef3;
	font-weight: 600;
}

@media (max-width: 1170px) {
	.wrap {
		padding: 0 15px;
	}
	.kv {
		margin-left: -15px;
		margin-right: -15px;
	}
}

@media (max-width: 768px) {
	.blogList>.blog {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.blogList>.blog {
		width: 100%;
		padding-right: 0;
		margin-left: 0;
	}
	.blogList {
		margin-left: 0;
		margin-right: 0;
	}
}


.ttlBlogDetail {
	color: #2887fb;
	font-size: 35px;
	font-weight: 600;
	margin: 65px 0 60px 0;
}

.p {
	font-size: 20px;
	line-height: 1.5;
	color: #93a4ac;
	margin-bottom: 30px;
}

.p a {
	display: inline;
	font-size: 20px;
	line-height: 1.5;
	color: #93a4ac;
}

.text-bold {
	font-weight: bold;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.mb100 {
	margin-bottom: 100px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb45 {
	margin-bottom: 45px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb0 {
	margin-bottom: 0px;
}

.mb5 {
	margin-bottom: 5px;
}

/*MAIN MENU*/
.navbar-nav>li {
	padding: 30px 0;
}

ul.main-menu>li>a, ul.navbar-right>li a {
	padding: 0 7px;
	font-weight: 600;
}

.megalv1 a {
	padding: 0 7px !important;
}

.navbar-inverse .navbar-nav>li>.login-button {
	border-left: 2px solid #62666b;
}

@media (max-width: 1200px) {
	.navbar-inverse .navbar-nav>li>.login-button {
			border: none;
	}
}

@media (max-width:768px){
	.navbar-nav>li {
		padding: 15px 0;
	}
}