/*Clearfix*/
.cf {
	*zoom: 1;
}
.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

/*Spaces*/
.mb10 {
	margin-bottom: 10px;
}

.color-1 {
	color: #3c4f5e;
}

.text-semibold {
	font-weight: 600;
}

.text-center {
	text-align: center;
}

/*Style*/
body {
	font-family: 'Montserrat', serif;
	font-size: 16px;
	line-height: 1.25;
	background: url(../images/bg_finance.jpg) repeat-x top center;
}

.wrapOuter {
	max-width: 1274px;
	margin: 0 auto;
	background: #fff;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
}

@media (max-width: 1170px) {
	.wrap {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media (min-width: 1025px) {
	#bs-example-navbar-collapse-1 {
		float: right;
	}
}

.kvArea {
	margin-top: 18px;
}

.kvHeader {
	border-top: 5px solid #e71d1c;
	padding: 24px 0 27px 0;
	background: #fff;
}

.kvSlider, .kvSlider .slick-slide, .kvSlider .slick-slide img {
	width: 100%;
}

.logoHsbc {
	width: 135px;
	height: 24px;
}

.videoArea {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.video01 {
	width: 49%;
}

.video02, .video03 {
	width: 24%;
}

.block01 {
	margin-top: 44px;
	margin-bottom: 63px;
}

.block01 .blockLeft {
	width: 44%;
}

.block01 .blockRight {
	width: 42%;
}

.block01 .ttl {
	font-size: 1.25em;
	line-height: 1.5;
	color: #3d3f47;
	margin-bottom: 7px;
}

.block01 .text {
	font-size: 0.875em;
	line-height: 1.4285;
	color: #8699a8;
	margin-bottom: 25px;
}

.block01 .img_cards {
	margin-top: 7px;
	max-width: 494px;
	width: 100%;
}

.filterArea {
	border: 1px solid #e1e1e3;
	height: 96px;
	box-shadow: inset 0 0 21px 0 rgba(224, 240, 244,1);
	margin-bottom: 41px;
	position: relative;
}

.boxFilter {
	position: relative;
	margin-right: 13px;
	margin-top: 40px;
	width: 400px;
	padding-left: 80px;
}

.filterbar {
	width: 59%;
	border: none;
	height: 14px;
}

.img_filter {
	width: 42%;
	max-width: 495px;
	position: absolute;
	bottom: 0;
	left: 3%;
}	

.rangeValue {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid #dfebee;
	text-align: center;
	color: #4a808e;
}

.rangeValue.v01 {
	left: 0;
	width: 80px;
	height: 50px;
}

.rangeValue.v02 {
	right: 0;
	width: 30%;
	height: 50px;
}

.noUi-base {
	background: #d4f1f9;
	border-radius: 0 7px 7px 0;
	box-shadow: inset 0 0 3px 0 rgba(159, 226, 245, 0.7);
}

.noUi-connect {
	background: #7bedc9;
	border: none;
	outline: none;
	box-shadow: none;
}

.noUi-horizontal .noUi-handle {
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	border: none;
	box-shadow: 3px 4px 8px 0 rgba(46, 201, 249, 0.3);
	outline: none;
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
	display: none;
}

.filterArea .btnConfirm {
	display: block;
	background: #45a4f4;
	border: 1px solid #45a4f4;
	color: #fff;
	font-size: 0.875em;
	line-height: 47px;
	width: 144px;
	height: 47px;
	margin-right: 22px;
	margin-top: 25px;
	text-decoration: none;
	transition: 0.3s;
}

.filterArea .btnConfirm:hover {
	color: #45a4f4;
	background: #fff;
}

@media (min-width: 768px) {
	.block03 {
		margin-bottom: 150px;
	}
}

.block03 .card {
	background: #fff;
	border: 1px solid #e1e1e3;
	border-radius: 10px;
	padding: 0 38px 20px 38px;
	width: 49%;
	float: left;
	margin-right: 2%;
	margin-bottom: 53px;
}

.block03 .cardList>.card:nth-child(2n) {
	margin-right: 0;
}

.block03 .card .ttl {
	color: #45a4f4;
	font-size: 1.5em;
	line-height: 1.25;
	margin: 27px 0 21px 0;
}

.block03 .card .img_card {
	width: 40%;
	max-width: 200px;
}

.block03 .card .cardContent {
	margin-left: 40%;
	padding-left: 30px;
}

.block03 .card .cardContent .text {
	padding: 15px 17px 15px 24px;
	background: #f5f5f7;
	border-radius: 10px;
	position: relative;
	margin-bottom: 20px;
	margin-top: 15px;
}

.block03 .card .cardContent .text:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent #f5f5f7 transparent;
	border-width: 9px 18px 9px 18px;
	position: absolute;
	bottom: 100%;
	left: 15%;
}

.block03 .card .starList {
	margin: 3px 0 16px 0;
	height: 15px;
}

.block03 .card .starList>.star {
	float: left;
	margin-right: 12px;
	width: 18px;
}

.block03 .card .starList>.star img {
	vertical-align: top;
	width: 100%;
}

.block03 .card .starList>.star>img:nth-child(2) {
	display: none;
}

.block03 .card .starList.star-1>.star:nth-child(n+2)>img:nth-child(1) {
	display: none;
}

.block03 .card .starList.star-1>.star:nth-child(n+2)>img:nth-child(2) {
	display: block;
}

.block03 .card .starList.star-2>.star:nth-child(n+3)>img:nth-child(1) {
	display: none;
}

.block03 .card .starList.star-2>.star:nth-child(n+3)>img:nth-child(2) {
	display: block;
}

.block03 .card .starList.star-3>.star:nth-child(n+4)>img:nth-child(1) {
	display: none;
}

.block03 .card .starList.star-3>.star:nth-child(n+4)>img:nth-child(2) {
	display: block;
}

.block03 .card .starList.star-4>.star:nth-child(n+5)>img:nth-child(1) {
	display: none;
}

.block03 .card .starList.star-4>.star:nth-child(n+5)>img:nth-child(2) {
	display: block;
}

.block03 .card .starList>.star:last-child {
	margin-right: 0;
}

.block03 .card .textPromo {
	color: #e71d1c;
	line-height: 1;
	padding-left: 18px;
	background: url(../images/icon_gift.png) no-repeat left center;
	margin-left: 17px;
}

.block03 .card .infoList {
	border-top: 1px solid #e1e1e3;
	padding-top: 25px;
	margin-bottom: 30px;
}

.block03 .card .info {
	padding-left: 37px;
	margin-bottom: 18px;
}

.block03 .card .info.v01 {
	background: url(../images/icon_info01.png) no-repeat left center;
}

.block03 .card .info.v02 {
	background: url(../images/icon_info02.png) no-repeat left center;
}

.block03 .card .info.v03 {
	background: url(../images/icon_info03.png) no-repeat left center;
}

.block03 .card .btn {
	padding: 0;
	display: inline-block;
	margin: 0 11px 14px 11px;
}

.block03 .card .btn>a {
	width: 168px;
	height: 41px;
	border-radius: 21px;
	padding: 10px 0;
	transition: 0.3s;
}

.block03 .card .btn.v01>a {
	color: #2369ff;
	border: 1px solid #2369ff;
}

.block03 .card .btn.v02>a {
	color: #fff;
	background: #4dd965;
	border: 1px solid #4dd965;
}

.block03 .card .btn.v01>a:hover {
	background: #2369ff;
	color: #fff;
}

.block03 .card .btn.v02>a:hover {
	background: #fff;
	color: #4dd965;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal {
	text-align: center;
}

.modal-dialog {
	display: inline-block;
	vertical-align: middle;
}

.modal-dialog iframe {
	max-width: 100%;
}

/*RESPONSIVE*/
@media (max-width: 1200px) {
	.img_filter {
		width: 36%;
	}
}

@media (max-width: 991px) {
	.img_filter {
		width: 80%;
	}
	
	.filterArea {
		padding-bottom: 35%;
		height: auto;
	}
	
	.filterArea .boxFilter {
		float: none;
		margin-left: 15px;
		margin-right: 15px;
		width: auto;
	}
	
	.filterArea .btnConfirm {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 767px) {
	.videoArea {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.videoArea .video01 {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.block01 .blockLeft, .block01 .blockRight {
		float: none;
		width: 100%;
	}
	
	.block03 .cardList>li {
		float: none;
		width: 100%;
	}
	
	.block03 .card .img_card, .block03 .card .cardContent {
		float: none;
		width: 100%;
		margin-left: 0;
		padding-left: 0;
	}
	
	.videoArea .video02, .videoArea .video03 {
		width: 49%;
		margin-bottom: 20px;
	}
	
	.block03 .card .ttl {
		text-align: left;
	}
	
	.rangeValue.v01, .rangeValue.v02 {
		font-size: 0.875em;
	}
	
	.rangeValue.v01 {
		width: 40px !important;
	}
	
	.rangeValue.v02 {
		width: 40%;
	}
	
	.filterArea .boxFilter {
		padding-left: 40px;
	}
	
	.filterbar {
		width: 50%;
	}
}