body {
	font-family: 'Montserrat', serif;
	font-size: 16px;
	line-height: 1.25;
}

#page-category {
	background: #fff;
}

/*hieu*/
/*Clearfix*/
.cf {
	*zoom: 1;
}
.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

/*Spaces*/
.mb10 {
	margin-bottom: 10px;
}

.color-1 {
	color: #3c4f5e;
}

.text-semibold {
	font-weight: 600;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-italic {
	font-style: italic;
}

/*Style*/
.wrapOuter {
	max-width: 1274px;
	margin: 0 auto;
	background: #fff;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
}
/*hieu*/

/* CSS Document */
.wrapOuter {
	max-width: 1560px;
	margin: 0 auto;
	position: relative;
	background: transparent;
}

.extended {
	width: 100%;
}

.wrap {
	position: relative;
}

.banner01 {
	position: absolute;
	left: 102%;
	top: 0;
}

.kv {
	width: 100%;
	background: #45a4f4;
	max-height: 413px;
	overflow: hidden;
}

.w100p {
	width: 100%;
}

.imgCategory00 {
	float: left;
	width: 55%;
	margin-top: -60px;
	padding-left: 70px;
}

.imgCategory00>img {
	width: 100%;
}

.kvContent {
	width: 45%;
	max-width: 510px;
	float: left;
	margin-top: 65px;
	padding-left: 20px;
}

.kvContent h2 {
	color: #fff;
	font-size: 1.875em;
	line-height: 1;
	text-transform: capitalize;
	position: relative;
}

.kvContent h2>.bigger {
	display: inline-block;
	font-size: 1.6em;
	margin-top: 10px;
}

.kvContent h2>.percent {
	display: inline-block;
	font-size: 3.6em;
	color: #fff799;
	font-family: 'BalooTamma';
	margin-top: -0.2em;
	margin-left: 30px;
}

.kvContent p {
	color: #d6eafb;
	font-size: 1em;
	line-height: 1.25;
	text-align: right;
	margin-top: 45px;
}

.mb29 {
	margin-bottom: 29px;
}

.sideArea {
	width: 23.16%;
}

.maincontentArea {
	width: 74.36%;
}

.boxSort {
	border: 1px solid #e1e1e3;
	box-shadow: inset 0 0 21px 0 rgba(224, 240, 244,1);
	padding: 20px;
	margin-bottom: 28px;
	position: relative;
}

.ttlSort {
	margin-right: 18px;
	display: inline-block;
	vertical-align: middle;
}

.selectSort {
	max-width: 100%;
	display: inline-block;
	font-size: 100%;
	line-height: 1;
	color: #3c4f5e;
	padding: 8px 35px 8px 15px;
	border: 1px solid #ced0da;
	border-radius: 5px;
	background: url(../images/icon_arrow_down_01.png) no-repeat 95% center;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
}

select::-ms-expand {
	display: none;
}

.gridByRow {
	width: 20px;
	height: 20px;
	background-image: linear-gradient(180deg,#bebcbc,#bebcbc 20%,#fff 20%,#fff 40%,#bebcbc 40%, #bebcbc 60%,#fff 60%,#fff 80%,#bebcbc 80%,#bebcbc 100%);
	background-size: 1px 100%;
	background-repeat: repeat-x;
	margin-right: 20px;
	cursor: pointer;
}

.gridByRow.is-active {
	background-image: linear-gradient(180deg,#000,#000 20%,#fff 20%,#fff 40%,#000 40%, #000 60%,#fff 60%,#fff 80%,#000 80%,#000 100%);
}

.gridByColumn {
	width: 20px;
	height: 20px;
	background-image: linear-gradient(180deg,#bebcbc,#bebcbc 20%,#fff 20%,#fff 40%,#bebcbc 40%, #bebcbc 60%,#fff 60%,#fff 80%,#bebcbc 80%,#bebcbc 100%),linear-gradient(180deg,#bebcbc,#bebcbc 20%,#fff 20%,#fff 40%,#bebcbc 40%, #bebcbc 60%,#fff 60%,#fff 80%,#bebcbc 80%,#bebcbc 100%),linear-gradient(180deg,#bebcbc,#bebcbc 20%,#fff 20%,#fff 40%,#bebcbc 40%, #bebcbc 60%,#fff 60%,#fff 80%,#bebcbc 80%,#bebcbc 100%);
	background-size: 20% 100%,20% 100%,20% 100%;
	background-repeat: no-repeat;
	background-position: 0 0,40% 0,80% 0;
	cursor: pointer;
}

.gridByColumn.is-active {
	background-image: linear-gradient(180deg,#000,#000 20%,#fff 20%,#fff 40%,#000 40%, #000 60%,#fff 60%,#fff 80%,#000 80%,#000 100%),linear-gradient(180deg,#000,#000 20%,#fff 20%,#fff 40%,#000 40%, #000 60%,#fff 60%,#fff 80%,#000 80%,#000 100%),linear-gradient(180deg,#000,#000 20%,#fff 20%,#fff 40%,#000 40%, #000 60%,#fff 60%,#fff 80%,#000 80%,#000 100%);
}

.gridshowArea {
	width: 60px;
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*CARDLIST*/
.card {
	background: #fff;
	border: 1px solid #e1e1e3;
	border-radius: 10px;
	width: 49%;
	float: left;
	margin-right: 2%;
	margin-bottom: 33px;
}

.cardBody {
	padding: 35px 20px 0 20px;
}

.cardFooter {
	padding: 12px 5px 7px 5px;
	border-top: 1px solid #e1e1e3;
}

.cardList>.card:nth-child(2n) {
	margin-right: 0;
}

.card .ttl {
	color: #45a4f4;
	font-size: 1.5em;
	line-height: 1.2083;
	margin-bottom: 17px;
}

.card .img_card {
	width: 47.37%;
	max-width: 182px;
	position: relative;
}

.card .img_card .iconSpecial {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 150%;
	transform: translateY(5px);
}

.card .img_card .iconSpecial>img, .card .img_card .iconSpecial>p {
	display: inline-block;
}
.card .img_card .iconSpecial>p {
	color: #0981ff;
	font-size: 0.6875em;
	line-height: 1;
	vertical-align: middle;
	margin-top: 15px;
}

.card .cardContent {
	margin-left: 47.37%;
	padding-left: 25px;
}

.card .cardNote {
	margin-top: 18px;
}

.card .cardNote .text {
	padding: 15px 17px 15px 24px;
	background: #f5f5f7;
	border-radius: 10px;
	position: relative;
	margin-bottom: 26px;
	margin-top: 15px;
}

.card .cardNote .text:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent #f5f5f7 transparent;
	border-width: 9px 18px 9px 18px;
	position: absolute;
	bottom: 100%;
	left: 10%;
}

.starList {
	height: 15px;
	overflow: hidden;
}

.starList>.star {
	display: inline-block;
	margin-right: 12px;
	width: 18px;
}

.starList>.star img {
	vertical-align: top;
	width: 100%;
}

.starList>.star>img:nth-child(2) {
	display: none;
}

.starList.star-1>.star:nth-child(n+2)>img:nth-child(1) {
	display: none;
}

.starList.star-1>.star:nth-child(n+2)>img:nth-child(2) {
	display: block;
}

.starList.star-2>.star:nth-child(n+3)>img:nth-child(1) {
	display: none;
}

.starList.star-2>.star:nth-child(n+3)>img:nth-child(2) {
	display: block;
}

.starList.star-3>.star:nth-child(n+4)>img:nth-child(1) {
	display: none;
}

.starList.star-3>.star:nth-child(n+4)>img:nth-child(2) {
	display: block;
}

.starList.star-4>.star:nth-child(n+5)>img:nth-child(1) {
	display: none;
}

.starList.star-4>.star:nth-child(n+5)>img:nth-child(2) {
	display: block;
}

.starList>.star:last-child {
	margin-right: 0;
}

.card .textPromo {
	color: #e71d1c;
	line-height: 1;
	padding-left: 18px;
	background: url(../images/icon_gift.png) no-repeat left center;
	margin-left: 17px;
}

.card .infoList {
	margin-bottom: 42px;
	margin-left: 10px;
}

.card .info {
	padding-left: 37px;
	margin-bottom: 18px;
}

.card .info.v01 {
	background: url(../images/icon_info01.png) no-repeat left top;
}

.card .info.v02 {
	background: url(../images/icon_info02.png) no-repeat left top;
}

.card .info.v03 {
	background: url(../images/icon_info03.png) no-repeat left top;
}

.card .btn {
	display: block;
	padding: 0;
	width: 50%;
}

.card .btn>a {
	display: block;
	width: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 1;
	padding: 25px 0;
	transition: 0.3s;
}

.card .btn.v01 {
	border: 1px solid #45a4f4;
	border-radius: 0 0 0 10px;
	background: #45a4f4;
}

.card .btn.v02 {
	border: 1px solid #4dd965;
	border-radius: 0 0 10px 0;
	background: #4dd965;
}

.card .btn.v01:hover {
	background: #fff;
}

.card .btn.v01:hover>a {
	color: #45a4f4;
}

.card .btn.v02:hover {
	background: #fff;
}

.card .btn.v02:hover>a {
	color: #4dd965;
}

.actionBtnList {
	margin-bottom: 25px;
	margin-left: 47px;
}

.likeBtn {
	color: #3c4f5e;
	font-size: 18px;
	line-height: 1;
	padding-left: 25px;
	background: url(../images/icon_like.png) no-repeat left center;
	margin-right: 80px;
	cursor: pointer;
}

.compareBtn {
	font-size: 18px;
	line-height: 1;
	color: #2369ff;
	padding-left: 25px;
	background: url(../images/icon_compare.png) no-repeat left center;
	cursor: pointer;
}

.likeBtn.is-active {
	color: #e71d1c;
	background: url(../images/icon_like_active.png) no-repeat left center;
}

.compareBtn.is-active {
	background: url(../images/icon_compare_active.png) no-repeat left center;
}


.ttlFilter {
	font-size: 1.875em;
	font-family: 'BalooTamma';
	line-height: 1;
	color: #45a4f4;
	padding-left: 50px;
	background: url(../images/icon_filter.png) no-repeat left center;
	padding-top: 5px;
	margin-bottom: 45px;
	margin-top: 24px;
}

.formGroup {
	margin-bottom: 35px;
}

.formLabel {
	font-size: 1.2em;
	line-height: 1;
	color: #2f3639;
	margin-bottom: 21px;
}

.checkboxArea .label {
	padding: 0;
}

.select {
	width: 100%;
	font-size: 16px;
	color: #4a808e;
	padding: 14px 35px 14px 16px;
	background: url(../images/icon_arrow_down_01.png) no-repeat 95% center;
	border: 1px solid #dfebee;
}

.checkboxArea {
	margin-top: 10px;
	display: none;
}

.checkboxArea.is-active {
	display: block;
}

.label {
	display: block;
	text-align: left;
}

.checkbox {
	display: inline-block;
	width: 16px;
	height: 16px;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 2px solid #d9d9d9;
	border-radius: 2px;
	vertical-align: middle;
	margin: 0 !important;
	margin-right: 10px !important;
	outline: none !important;
}

.checkbox:checked {
	background: #4dd965;
	border: 2px solid #4dd965;
	position: relative;
}

.checkbox:checked:before {
	content: '';
	display: block;
	width: 12px;
	height: 6px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}

.checkboxArea .label>span {
	display: inline-block;
	color: #3c4f5e;
	font-size: 16px;
	line-height: 1.875;
	vertical-align: middle;
	margin: 0 !important;
}


/*DETAIL*/
.wrapDetail {
	width: auto !important;
	max-width: 1170px !important;
	position: relative;
}

.kvDetail {
	border: 7px solid #fff;
	border-bottom: none;
}

.btnCloseDetail {
	display: block;
	position: absolute;
	top: 25px;
	right: 25px;
}

#popupDetail .contentDetail {
	background: #fff;
	padding-bottom: 70px;
}

.modalDetail {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: rgba(17,17,17,0.83);
	display: none;
}
.modalDetail.is-active {
	display: block;
}

.box01 {
	padding: 40px 40px 0 40px;
	box-shadow: 0 5px 24px 0 rgba(0,0,0,0.13);
	margin: 0 35px;
	margin-top: 63px;
	position: relative;
	margin-bottom: 45px;
	border-radius: 30px;
}

.box01 .cardName {
	font-family: 'Baloo';
	font-size: 1.875em;
	color: #5a5a5a;
	line-height: 1;
	margin-bottom: 30px;
}

.cardImgArea {
	width: 35%;
	position: relative;
	padding-top: 25px;
	margin-top: -145px;
}

.cardImgArea>img {
	width: 100%;
}

.cardImgArea .cardTitle01 {
	font-family: 'Baloo';
	font-size: 1.875em;
	color: #45a5f6;
	line-height: 1;
	position: absolute;
	bottom: 100%;
}

.cardContent01 {
	width: 45%;
	padding-left: 40px;
	padding-top: 20px;
}

.btnArea {
	width: 20%;
}

.btnCompare {
	width: 200px;
	max-width: 100%;
	height: 48px;
	border-radius: 24px;
	line-height: 48px;
	color: #2369ff;
	background: #fff;
	font-size: 20px;
	border: 1px solid #2369ff;
	text-align: center;
	margin-bottom: 20px;
	transition: 0.3s;
}

.btnCompare:hover {
	color: #fff;
	background: #2369ff;
}

.btnRegister {
	width: 200px;
	max-width: 100%;
	height: 48px;
	border-radius: 24px;
	line-height: 48px;
	color: #fff;
	background: #4dd965;
	font-size: 20px;
	border: 1px solid #4dd965;
	text-align: center;
	transition: 0.3s;
	margin-bottom: 30px;
}

.btnRegister:hover {
	color: #4dd965;
	background: #fff;
}

.textPromo {
	font-size: 1.5em;
	color: #e71d1c;
	line-height: 1;
	padding-left: 18px;
	background: url(../images/icon_gift.png) no-repeat left center;
}

#page-category .card .textPromo {
	font-size: 0.875em;
	font-weight: 600;
	text-transform: uppercase;
}

.textPromo.v02 {
	padding-left: 30px;
	background: url(../images/icon_promo_detail.png) no-repeat left top;
}

.blockPromoWrap {
	margin-top: 30px;
}

.blockPromo {
	width: 50%;
}

.blockPromo .imgPromo {
	width: 35%;
}

.blockPromo .content {
	padding: 0 30px;
	margin-left: 35%;
}

.blockPromo .content .title {
	color: #496071;
	font-size: 1.375em;
	line-height: 1.36;
	margin-bottom: 9px;
}

.blockPromo .content .text {
	color: #8699a8;
	font-size: 0.875em;
	line-height: 1.42;
}

.wrapDetailInner {
	max-width: 1030px;
	margin: 0 auto;
}

.box03 {
	padding-bottom: 45px;
	border-bottom: 1px solid #afafb1;
	margin-bottom: 4px;
	margin-top: 35px;
	padding-left: 30px;
	padding-right: 30px;
}

.box04 {
	padding-top: 40px;
	border-top: 1px solid #afafb1;
}

.textRelated {
	font-size: 1.5em;
	line-height: 1;
	color: #e71d1c;
}

.textRelated>span {
	padding-left: 35px;
	background: url(../images/icon_card_detail.png) no-repeat left center;
}

.relatedSlider {
	width: 100%;
	margin-top: 35px;
}

.cardRelated .cardTitle>a {
	display: block;
	font-size: 1.125em;
	line-height: 1.22;
	color: #6c869b;
	font-weight: 600;
	margin-bottom: 40px;
	text-align: center;
}

.cardRelated {
	padding-bottom: 50px;
}

.cardRelated img {
	display: inline-block;
	transition: 0.3s;
}

.cardRelated:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-box-shadow: -4px 7px 24px 0 rgba(220, 230, 232, 1);
	box-shadow: -4px 7px 24px 0 rgba(220, 230, 232, 1);
}

.relatedSliderDots .slick-dots {
	overflow: hidden;
	text-align: center;
}

.relatedSliderDots .slick-dots>li {
	display: inline-block;
	text-indent: -999999999px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #b7b7b7;
	margin: 0 10px;
	cursor: pointer;
}

.relatedSliderDots .slick-dots>li.slick-active {
	background: #000;
}

.relatedSlider .slick-prev, .relatedSlider .slick-next {
	color: #c3cfe5;
	font-size: 2.5em;
}

.relatedSlider {
	position: relative;
	padding: 0 30px;
}

.relatedSlider .slick-prev {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.relatedSlider .slick-next {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


@media (min-width: 769px) {
    [tab-header-sp] {
        display: none !important;
    }
}
@media (max-width: 768px) {
    [tab-header-pc] {
        display: none !important;
    }
}

/* RESTYLE TAB */
.table {
    display: table;
}
.table>.cell {
    display: table-cell;
}


@media (max-width: 1559px) {
	.banner01 {
		display: none;
	}
}

@media (max-width: 1170px) {
	.contentDetail {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 1024px) {
	.wrap {
		padding: 0 15px;
	}
	.sideArea, .maincontentArea {
		width: 100%;
		float: none;
	}
	.card .ttl, .card .btn>a {
		font-size: 1em;
	}
	.card .starList>.star {
		margin-right: 5px;
	}
	
	.kvContent  {
		padding-right: 15px;
	}
	
	.imgCategory00 {
		padding-left: 15px;
		margin-top: 0;
	}
	
	.kvContent h2 {
		font-size: 1.4em;
	}
	
	.actionBtnList {
		margin-left: 0;
	}
	
	.likeBtn {
		margin-right: 40px;
		margin-bottom: 10px;
	}
	
/*	DETAIL*/
	.tabHeaderList {
		width: 0;
	}
	.tabHeader-sp {
		border-radius: 20px 20px 20px 20px;
		border: 1px solid #dbecf2 !important;
	}
	.tabList>li.is-active .tabHeader-sp {
		border-radius: 20px 20px 0 0;
	}
	.tabBody {
		border-radius: 0 0 20px 20px;
		margin-bottom: 16px;
	}
	
	.cardImgArea {
		float: none;
		width: 100%;
		max-width: 358px;
		margin: 0 auto;
		margin-top: 50px;
	}
	.btnArea {
		width: auto;
		margin-top: 30px;
	}
	.cardContent01 {
		padding: 0;
		text-align: center;
	}	
	.box01 .cardName {
		margin-top: 30px;
	}
}

@media (max-width: 768px) {
	.kv {
		max-height: initial;
		padding: 0 15px 20px 15px;
	}
	.imgCategory00, .kvContent {
		float: none;
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	.kvContent h2 {
		max-width: 400px;
		margin: 0 auto;
	}
	.kvContent p {
		text-align: left;
	}
	
	.blockPromo {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
	
	.hide-sp {
		display: none !important;
	}
	.box01 {
		margin-left: auto;
		margin-right: auto;
	}
	.box03 {
		padding-left: 0;
		padding-right: 0;
	}
	#popupDetail .modal-dialog {
		margin: 15px 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.btnCloseDetail {
		background: #45a4f4;
		padding: 5px;
		border-radius: 50%;
		position: fixed;
		z-index: 999;
	}
}

@media (max-width: 680px) {
	.card .img_card, .card .cardContent {
		float: none;
		width: 100%;
		padding-left: 0;
		margin-left: 0;
	}
	.card .img_card {
		margin-bottom: 20px;
	}
	.selectSort {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	.ttlSort {
		margin-bottom: 10px;
	}
	.gridshowArea {
		top: 30px;
	}
	
	.btnArea {
		float: none;
		width: 200px;
		max-width: 100%;
		margin: 0 auto;
		margin-top: 30px;
	}
	.cardContent01 {
		float: none;
		width: 100%;
	}
	
	.tabBody {
		padding-left: 15px;
		padding-right: 15px;
	}
	.tabBody .infoArea dl {
		margin-bottom: 20px;
	}
	.tabBody .infoArea dt {
		float: none;
		width: 100%;
	}
	.tabBody .infoArea dd {
		margin-left: 0;
	}
}

@media (max-width: 480px) {
	.card {
		margin-right: 0;
		width: 100%;
		float: none;
	}
	
	.kvContent h2 {
		max-width: 300px;
		font-size: 1em;
	}
	
	.blockPromo {
		text-align: center;
	}
	.blockPromo .imgPromo {
		float: none;
		width: auto;
		max-width: 100%;
		display: inline-block;
	}
	.blockPromo .content {
		margin-left: 0;
		margin-top: 20px;
	}
}