@charset "UTF-8";

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.eot');
  src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
       url('../fonts/Montserrat-LightItalic.woff') format('woff'),
       url('../fonts/Montserrat-LightItalic.ttf') format('truetype'),
       url('../fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg'),
       url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
       url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
	font-family: 'BalooTamma';
	src: url('../fonts/BalooTamma-Regular.eot');
	src: url('../fonts/BalooTamma-Regular.woff2') format('woff2'),
	   url('../fonts/BalooTamma-Regular.woff') format('woff'),
	   url('../fonts/BalooTamma-Regular.ttf') format('truetype'),
	   url('../fonts/BalooTamma-Regular.svg#BalooTamma-Regular') format('svg'),
	   url('../fonts/BalooTamma-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baloo';
	src: url('../fonts/Baloo-Regular.eot');
	src: url('../fonts/Baloo-Regular.woff2') format('woff2'),
	   url('../fonts/Baloo-Regular.woff') format('woff'),
	   url('../fonts/Baloo-Regular.ttf') format('truetype'),
	   url('../fonts/Baloo-Regular.svg#Baloo-Regular') format('svg'),
	   url('../fonts/Baloo-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

/*Reset*/
*, *:before, *:after { box-sizing: border-box; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: top;
	background: transparent;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    line-height: 1.25;
    background: url(../images/bg_finance.jpg) repeat-x top center;
}

/*Float*/
.cf {
	zoom: 1;
}
.cf:before, .cf:after {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}

nav ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: transparent;
	display: block;
	text-decoration: none;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input,select,img {
	vertical-align: middle;
}
form {
	display: inline;
}
a {
	display: block;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
strong {
	font-weight: normal;
}


.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

nav.navbar {
	border-radius: 0;
	background-color: #fff;
    border-color: #fff;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-right: 0;
    margin-left: 0;
}



.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a {
	color: #2f3639;
	background-color: #fff;
	
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #2f3639;
    background-color: transparent;
	outline: none;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #2f3639;
    background-color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #2f3639;
	background-color: #fff;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


.navbar-header {
	padding-top: 20px;
	padding-bottom: 16px;
}


@media (max-width: 1200px){
	.header .container {
		width: 100%;
		padding-right: 0px;
    	padding-left: 0px;
	}
	
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media(min-width:1200px){
	ul.main-menu {
		padding-left: 10px;
	}


	ul.main-menu li a {
		padding-top: 41px;
		padding-bottom: 35px;
		padding-left: 5px;
		padding-right: 5px;
	}

	ul.navbar-right li a {
		padding-top: 41px;
		padding-bottom: 35px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.navbar-inverse .navbar-toggle {
    background-color: #333;
}


@media(min-width:1025px){
	ul.main-menu {
		padding-left: 15px;
	}

	ul.main-menu li a {
		padding-top: 41px;
		padding-bottom: 35px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 1.125em;
		font-weight: 600;
	}

	ul.navbar-right li a {
		padding-top: 41px;
		padding-bottom: 35px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 1em;
		font-weight: normal;
	}
}

@media(max-width:1024px){
	.navbar-right .dropdown-menu {
		right: initial !important;
	}
	
}

.login-button .fa {
	font-size: 1.25em;
}

.login-button img {
	margin-left: 10px;
}

@media (max-width: 1200px)
{
	.navbar-brand img {
		max-width: 200px;
		padding-left: 20px;
	}
	
	ul.main-menu li a, ul.navbar-right li a {
		padding-top: 36px;
	}
}

@media (max-width: 1024px) {
	#bs-example-navbar-collapse-1 {
		width: 100%;
	}
}

ul.navbar-right li a.switch-lang {
	padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
	margin-bottom: 0;
}

ul#search {
	width: 300px;
}

ul#search li form input {
    width: 100%;
    margin-right: 0px;
    background-color: #e5e5e5;
}

#search .input-group {
	padding: 0 10px;
}

.switch-lang:hover {
	color: #9d9d9d !important;
}

/* footer */
.footer {
	width: 100%;
	background-color: #cbeefd;
	position: relative;
}

.footerCol h3 {
	color:#45a4f4;
	font-size:1.25em;
	font-weight: 600;
	padding-top: 60px;
	text-transform: uppercase;
}

.footerCol h3 span {
	color: #2f3639;
}


.footerCol ul li {
	padding-top: 29px;
}

.footerCol a {
	font-size: 1.125em;
	color:#2f3639;
}

.footerCol.col3 .fa {
	font-size: 0.75em;
	width: 20px;
}

.footerCol ul li .fa {
	font-size: 0.5em;
    vertical-align: middle;
	width: 10px;
}

.logo_footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30%;
	max-width: 512px;
}

@media (max-width: 1500px) {
	.logo_footer {
		width: 25%;
	}
}

@media (max-width: 991px) {
	.logo_footer {
		display: none;
	}
}


@media (max-width: 991px){
	.socialLink {
	    margin-top: 20px;
    	margin-left: -10px;
	}
}

.socialLink ul {
	padding-bottom: 30px;
}

.footer .socialLink ul {
	display: block;
}


.footer .socialLink ul li {
	display: inline-block;
}

.footer .container {
	position: relative;
}

.toTop img{
	position: absolute;
	top:-30px;
	right:-60px;
}

@media (max-width: 1400px){
	.toTop img{
		position: absolute;
		top:-30px;
		right:10px;
	}
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.loginmodal-container a {
  text-decoration: none;
  color: #E51212;
  font-weight: 400;
  text-align: right;
  opacity: 1;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.select_desire{
	width: 460px;
	float: left;
	margin-top: 25px;
}

.select_desire select{
	border: 1px solid #dfebee;
	box-shadow: 10px 5px 50px #ccccdd inset;
	border-radius: 40px;
	outline: none;
	padding: 14px 62px;
	-webkit-appearance:none;
	background: url(../images/arrow_select.png) no-repeat 95%;
}

.menu_bar{
	float: right;
	cursor: pointer;
	padding-top: 36px;
	margin-left: 10px;
}

.navbar-inverse .navbar-nav>li>.register-button{
	color:#b1b1b1 !important;
}

.navbar-inverse .navbar-nav>li>.login-button{
	color:#2e343b;
}

/*Chat*/
.chat_with_baoden{
	width: 472px;
	position: fixed;
	right: 179px;
	bottom: 0;
	z-index: 99999;
}

.ttl_chat{
	background: #3f9ae6;
	color: #ffffff;
	font-size: 17px;
	border-radius: 20px 20px 0 0;
	padding: 28px 0 35px;
	text-align: center;
	position: relative;
}

.miz_chat01{
	position: absolute;
	left: 37px;
	top: 50%;
	transform: translateY(-50%);
}

.miz_chat02{
	position: absolute;
	right: 30px;
	top:50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.content_chat{
	height: 520px;
	background: #fff url(../images/chat_bg.jpg) top center repeat-x;
}

.p_time_today{
	text-align: center;
	font-size: 13px;
	color:#959595;
	line-height: 1;
	padding: 30px 0 26px;
}

.admin_chat{
	width: 100%;
	float: right;
}

.admin_img_chat{
	float: left;
}

.admin_txt_chat{
	width: 340px;
	float: left;
	background: #d4f1f9;
	padding: 20px;
	margin: 0 20px;
	color:#236874;
	font-size: 13px;
	border-radius: 15px;
	position: relative;
}

.admin_txt_chat::before{
	content: '';
	display: block;
	background: url(../images/txt_ad_chat.png) left  center no-repeat;
	width: 11px;
	height: 19px;
	position: absolute;
	left: -11px;
}

.p_time_sent{
	margin-left: 140px;
	color:#798fa8;
	font-size: 13px;
}
@media (max-width:768px){
	.chat_with_baoden {
		width: 95%;
		right: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.content_chat {
		width: 100%;
		height: 350px;
	}
	
	.admin_txt_chat {
		width: 70%;
		margin: 0 10px;
	}
	
	.admin_img_chat {
		width: 20%;
	}
	
	.admin_img_chat img{
		max-width: 100%;
	}
	
	.p_time_sent{
		margin-left: 20%;
	}
	
	.ttl_chat{
		font-size: 14px;
   		padding: 20px 0;
	}
	
	.miz_chat01{
		left: 10px;
	}
	
	.miz_chat02{
		right: 10px;
	}
	
	.admin_chat{
		margin-bottom: 10px;
	}
}

@media (width:1024px){
	.chat_with_baoden{
		right: 0;
	}
}


/*hieu 180305*/
.navbar-brand {
	padding: 0;
}
.navbar-brand {
	margin: 0;
	margin-right: 90px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: auto;
}
.navbar-header {
	padding: 0;
}
.select_desire {
	margin-top: 15px;
}
.select_desire select {
	font-weight: 600;
}
.menu_bar {
	margin-left: 40px;
	padding-top: 25px;
}
ul.navbar-right li a {
	padding-top: 30px;
	padding-bottom: 30px;
}
.formSearch, .formSearch .input-group, .formSearch .form-control {
	width: 100%;
	height: 100%;
	background: #f8f8f8;
	text-align: right;
}
.formSearch {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	padding: 10px;
	display: none;
}
.formSearch.is-active {
	display: block;
}
.formSearch .input-group-btn>button {
	height: 100%;
	background: rgb(231, 231, 231);
	color: rgb(119, 119, 119);
}
.header {
	position: relative;
}
.navbar-nav>li {
	position: static;
}

.navbar-nav li a{
	color:#2f3639 !important;
}

@media (max-width: 1200px){
	.select_desire {
		width: 100%;
		float: none;
	}
	.select_desire select {
		width: 100%;
	}
	.menu_bar {
		display: none;
	}
	ul.navbar-right li a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-nav>li {
		position: relative;
	}
}
@media (max-width: 768px){
	.navbar-brand {
		margin-right: 0;
	}
}


/*Van 18-03-05*/
ul.main-menu li a{
	padding: 30px 15px;
}

.navbar-brand{
	margin-top: 25px;
}

.modal{
	z-index: 99999;
}

.megalv2{
	width: 100%;
    left: 50%;
	top: 100%;
    transform: translateX(-50%);
	display: none;
	position: absolute;
	z-index: 999999999;
    background: #fff;
	border-top: 1px solid #ccc;
    padding-top: 20px
}

.img_mega img{
	max-width:100%;
}

.megalv2 h3{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}


/*hieu 180305_02*/
.header .container {
	position: relative;
}
.chat_with_baoden {
	right: 0;
}
.ttl_chat {
	padding: 20px 0;
}
.select_desire select {
	background: #f5f5f7 url(../images/arrow_select.png) no-repeat 95%;
	-webkit-box-shadow: inset 4px 3px 8px 0 rgba(204, 204, 221, 0.7);
	box-shadow: inset 4px 3px 8px 0 rgba(204, 204, 221, 0.7);
}
.navbar-toggle {
	margin-top: 20px;
}
.select_desire select {
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
}

.select_desire select::-ms-expand {
	display: none;
}
/*Van 180321*/
@media (max-width:768px){
	ul.main-menu li a {
		padding: 0 7px;
	}
	.footerCol h3{
		padding-top: 30px;
	}
	.footerCol ul li {
			padding-top: 20px;
	}
	
	.navbar-nav>li{
		padding: 30px 0;
	}
}

.main-menu h2.active a{
	color:#45a4f4 !important;
}

ul.navbar-right li{
	padding: 30px 0;
}

ul.navbar-right li a {
	padding: 0 10px;
}

/*hieu 180321*/

.navbar-inverse .navbar-nav>li>.login-button {
	border-right: 2px solid #62666b;
}

@media (max-width: 1200px) {
	.navbar-inverse .navbar-nav>li>.login-button {
			border: none;
	}
}


/*hieu 180328*/
#login-modal .modal-dialog {
	width: 90%;
	max-width: 980px;
	background: #45a4f4;
}

#login-modal .modalHeader {
	background: #fff;
	width: 40%;
	padding: 40px 0 60px;
	display: none;
}

#login-modal .modalHeader.is-active {
	display: table-cell;
}

#login-modal .modalText {
	padding: 0 30px 50px;
}

#login-modal .modalTitle {
	font-family: 'BalooTamma';
	font-size: 30px;
	line-height: 1;
	color: #45a4f4;
}

#login-modal .modalDes {
	font-size: 20px;
	line-height: 1.2;
	color: #758790;
	margin-top: 20px;
}

.maxw100p {
	max-width: 100%;
	margin: 0 auto;
}

#login-modal .modalBody {
	padding: 16px;
	display: table-cell;
}

#login-modal .modalFormArea {
	background: #fff;
	border-radius: 10px;
	/*height: 630px;*/
}

#login-modal .tabHeaderList {
	padding: 0 30px;
	margin: 0;
}

#login-modal .tabHeader {
	font-size: 20px;
	line-height: 1.2;
	color: #758790;
	padding: 15px 30px;
}

#login-modal .tabList {
	padding: 30px;
	border-top: 1px solid #f1f4f9;
}

#login-modal .myForm .formGroup {
	margin-bottom: 7px;
}

#login-modal .myForm .label {
	display: block;
	width: 90px;
	font-size: 14px;
	line-height: 1.71;
	color: #333;
	float: left;
	text-align: left;
	padding: 0;
	padding-top: 7px;
}

#login-modal .myForm .field {
	margin-left: 120px;
}

#login-modal .myForm .field label {
	display: inline-block;
	margin-right: 20px;
}

#login-modal .myForm .field label span {
	vertical-align: middle;
	font-size: 13px;
}

#login-modal .myForm .input {
	width: 100%;
	font-size: 14px;
	line-height: 1.71;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #b9def7;
}

#login-modal .myForm .radio {
	display: inline-block;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid #2aaafc;
	margin: 0;
	margin-right: 10px;
	outline: none;
}

#login-modal .myForm .radio:checked {
	box-shadow: inset 0 0 0 5px #fff;
	background: #2aaafc;
}

#login-modal .myForm .select {
	width: 112px;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 2px solid #b9def7;
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 15px;
	padding-right: 34px;
	background: url(../images/icon_select.png) no-repeat right center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}

#login-modal .myForm .btnSubmit {
	font-size: 18px;
	line-height: 1;
	color: #fff;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	background: #4cd966;
	border: none;
	border-radius: 5px;
	margin-top: 22px;
	text-transform: uppercase;
}

.ptx {
	padding-top: 2px !important;
}
.mtx {
	margin-top: 28px !important;
}
.mbx {
	margin-bottom: 28px !important;
}

#login-modal .myForm .field.forget {
	font-size: 13px;
	line-height: 24px;
	color: #333;
}

#login-modal .myForm .field.forget a {
	display: inline;
}

/* TAB */
#login-modal .tabHeader {
	cursor: pointer;
}
#login-modal .tabList>li {
	display: none;
}
#login-modal .tabList>li.is-active {
	display: block;
}
#login-modal .tabHeader.is-active  {
	color: #2aaafc;
	border-bottom: 3px solid #2aaafc;
}


@media (max-width: 768px) {
	#login-modal .modalHeader.is-active, #login-modal .modalBody {
		width: 100%;
		display: block;
	}
	#login-modal .modal-dialog {
		margin: 50px auto;
	}
	#login-modal {
		overflow-y: auto !important;
	}
	#login-modal .tabHeader {
		font-size: 16px;
		padding: 10px;
	}
	#login-modal .modalFormArea {
		height: auto;
	}
	#login-modal .myForm .label {
		float: none;
		width: 100%;
	}
	#login-modal .myForm .field {
		margin-left: 0;
	}
	#login-modal .myForm .select {
		margin-bottom: 5px;
	}
	#login-modal .tabHeaderList {
		padding: 0 20px;
	}
	#login-modal .modalHeader {
		text-align: center;
	}
	#login-modal .modalHeader>img {
		display: inline !important;
	}
}


/*GOOGLE LOGIN*/
.g-signin {
	background: none;
	border: none;
	outline: none;
	padding: 0;
	width: 100%;
}
.g-signin iframe {
	display: none;
}
.g-signin, .btnLoginFacebook {
	width: 100%;
	margin-top: 20px;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	padding: 15px 0;
	text-align: center;
	background: #dd4b39;
	border-radius: 5px;
	border: 1px solid #c43a2a;
	position: relative;
	overflow: hidden;
	padding-left: 60px;
	padding-right: 60px;
}
.btnLoginFacebook {
	background: #3c5a96;
	border:1px solid #31497a;
}
.iconLoginGoogle, .iconLoginFacebook {
	width: 50px;
	height: 100%;
	position: absolute;;
	top: 0;
	left: 0;
	border-right: 1px solid #c43a2a;
	text-align: center;
	display: block;
}
.iconLoginFacebook {
	border-right: 1px solid #31497a;
}
.iconLoginGoogle>img, .iconLoginFacebook>img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}