.text-bold{
	font-weight: bold;
}

.vertical-mid{
	vertical-align: middle !important;
}

.dp_hide{
	display: none !important;
}

.wrapOuter{
	position: relative;
}

.wrapComparison{
	max-width: 1274px;
	margin: 0 auto;
	background: #fff;
}

/*Star chung*/
.comparison_li .starList {
	display: inline-block;
	margin: 3px 0 16px 0;
	height: 15px;
}

.comparison_li .starList>.star {
	float: left;
	margin-right: 12px;
	width: 18px;
}

.comparison_li .starList>.star img {
	vertical-align: top;
	width: 100%;
}

.comparison_li .starList>.star>img:nth-child(2) {
	display: none;
}

.comparison_li .starList.star-1>.star:nth-child(n+2)>img:nth-child(1) {
	display: none;
}

.comparison_li .starList.star-1>.star:nth-child(n+2)>img:nth-child(2) {
	display: block;
}

.comparison_li .starList.star-2>.star:nth-child(n+3)>img:nth-child(1) {
	display: none;
}

.comparison_li .starList.star-2>.star:nth-child(n+3)>img:nth-child(2) {
	display: block;
}

.comparison_li .starList.star-3>.star:nth-child(n+4)>img:nth-child(1) {
	display: none;
}

.comparison_li .starList.star-3>.star:nth-child(n+4)>img:nth-child(2) {
	display: block;
}

.comparison_li .starList.star-4>.star:nth-child(n+5)>img:nth-child(1) {
	display: none;
}

.comparison_li .starList.star-4>.star:nth-child(n+5)>img:nth-child(2) {
	display: block;
}

.comparison_li .starList>.star:last-child {
	margin-right: 0;
}
/* end star card */

.comparisonInner{
	overflow: hidden;
	padding: 60px 52px 248px;
	margin-top: 52px;
}

.comparison_icon{
	width: 190px;
	float: left;
}

.comparison_li{
	float: left;
}

.comparison_li > li{
	width: 224px;
	float: left;
	text-align: center;
	border:1px solid #e1e1e3;
	border-radius: 2px;
	margin-right: 25px;
	position: relative;
}

.comparison_li > li:last-child{
	margin-right: 0 !important;
}

.comparison_li .compa_title{
	color: #45a4f4;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	margin: 20px 0 16px 20px;
	width: 180px;
	height: 40px;

}

.comparison_li .insurance_icon{
	position: absolute;
	left:10px;
	top:17px;
}

.comparison_li .close_compaCard{
	position: absolute;
	right: 5px;
	top:4px;
	cursor: pointer;
}

.comparison_li .compa_card{
	margin-bottom: 10px;
}

.comparison_li .compa_card img{
	width: 80%;
}

.comparison_li .regist_card{
	background: #4dd965;
	text-transform: uppercase;
	width: 166px;
	padding: 12px 0;
	display:inline-block;
	border-radius: 30px;
	margin-bottom: 14px;
}

.comparison_li .regist_card a{
	color:#fff;
	line-height: 1;
}

.comparisonTop{
	overflow: hidden;
	margin-bottom: 45px;
}

.blockLi_title{
	position: relative;
	box-shadow:10px 5px 50px #e0f0f4 inset;
}

.blockLi_title h4{
	float: left;
	font-size: 16px;
	color:#3498db;
	text-transform: uppercase;
	font-weight: 600;
	padding-left: 30px;
}

/*button toggle swich*/
.blockLi_title .switch{
	 position: absolute;
	 right: 25px;
	 display: inline-block;
	 width: 38px;
	 height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #36af47;
}

input:focus + .slider {
  box-shadow: 0 0 1px #36af47;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*end button toggle swich*/

.blocklist{
	border: 1px solid #e1e1e3;
	position: relative;
}

.blockLi_title{
	padding: 32px 0 29px;
	border-bottom: 1px solid #e1e1e3;
}

.table_card{
	text-transform: uppercase;
	font-size: 14px;
	width: 100%;
}

.table_card tr{
	border-bottom: 1px solid #e1e1e3;
}

.table_card tr:last-child{
	border-bottom: none;
}

.table_card tr th{
	width: 208px;
	text-align: left;
	line-height: 1.3;
	padding: 17px 0 22px;
	padding-left: 28px;
	font-size: 14px;
	text-transform: uppercase;
}


.table_card tr td{
	text-align: center;
	line-height: 1;
	vertical-align: middle;
}

.table_card tr td:nth-child(2){
	padding-left: 15px;
	padding-right: 15px;
}

.table_card tr td:nth-child(3){
	padding-left: 80px;
	padding-right: 80px;
}

.table_card tr td:nth-child(4){
	padding-left: 30px;
	padding-right: 30px;
}

.table_card tr td:nth-child(5){
	padding-left: 27px;
	padding-right: 27px;
}

.text_Cap{
	text-transform: capitalize;
}

.table_free{
	color:#7f8fa4;
	margin-top: 5px;
	display: block;
	font-size: 12px;
}

.table_card .btn_detail a{
	color: #45a4f4;
	font-weight: 600;
	margin: 15px 0;
	text-transform: capitalize;
}

.table_padding tr td{
	padding: 26px 0 42px;
	vertical-align: top;
}

.table_padding tr td h5{
	margin-bottom: 10px;
}

.tr_partnerImg td{
	padding-top: 0 !important;
}

.p_gift{
	font-size:12px;
	color:#7f8fa4;
	line-height: 16px;
	margin-top: 18px;
}

.compa_icon{
	width: 114px;
	background: #f55c62;
	padding: 22px 0 26px;
	border-radius: 30px 0 0 30px;
	position: fixed;
	margin-top: 60px;
	right: 169px;
	z-index: 999;
}

@media screen and (width: 1024px){
	.comparison_li > li{
		margin-right: 5px;
	}
	
	.compa_icon{
		right:0;
	}
}

@media screen and (max-width: 768px){
	.compa_icon{
		right: 0;
	}
	
	.comparison_icon{
		width: 100%;
		float: none;
    	text-align: center;
	}
	
	.comparison_icon img{
		text-align: inline-block;
	}
	
	.comparison_li {
		float: none;
		text-align: center;
	}
	
	.comparison_li > li{
		float: none;
		margin-right: 0;
		display: inline-block;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border: 1px solid #ddd;
	}
	
	.table_card tr{
		overflow: scroll;
	}
	
	.select_desire{
		width: 100%;
	}
	
	.select_desire select{
		width:100%;
		padding: 14px 15px;
	}
	
	.menu_bar{
		display: none;
	}
	
	.navbar-nav {
    	float: left !important;
	}
}

