.left_contact {
    width: 464px;
    float: left;
    margin-left: 26px;
}

.wrapContact {
    width: 1244px;
    margin: 0 auto;
    background: url(../images/contact/wrapContact.png) top no-repeat;
    padding-bottom: 185px;
}

.contactInner {
    width: 1031px;
    margin: 0 auto;
    margin-top: 126px;
    margin-bottom: 126px;
    overflow: hidden;
}

.infoContactArea {
    float: right;
    width: 505px;
}

.infoContact input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 3px solid #b9def7;
    margin-bottom: 17px;
    padding: 0 10px;
}

.infoContact textarea {
    width: 100%;
    height: 196px;
    box-sizing: border-box;
    border: 3px solid #b9def7;
}

.btnContactInfo {
    width: 100%;
    font-size: 24px;
    background: #00afef;
    padding: 23px 172px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: inherit;
    margin: 0 auto;
}

.info_title {
    font-size: 16px;
    color: #4b4b4b;
    margin-bottom: 17px;
    font-weight: 600;
}

.color_red {
    color: #ff4942;
}

.note_contact {
    margin-bottom: 25px;
}

.contact_info_ttl {
    font-weight: bold;
    color: #6a777c;
    font-size: 19px;
    margin-bottom: 20px;
}

.contactArea {
    background: url(../images/contact/contactArea.jpg) bottom no-repeat;
    padding-top: 35px;
}

.fa-map-marker {
    color: #60b0e6;
    font-size: 30px;
    float: left;
    margin-right: 10px;
}

.contact_img {
    margin-bottom: 15px !important;
    margin-left: 0 !important;
}

.left_contact p {
    font-size: 18px;
    color: #2f3639;
    margin-bottom: 25px;
    line-height: 24px;
    margin-left: 12px;
}

.contact_add {
    background: url(../images/contact/contact_add.png) no-repeat left 2px;
    padding-left: 22px;
}

.contact_email {
    background: url(../images/contact/contact_email.png) no-repeat left 7px;
    padding-left: 23px;
}

.contact_phone {
    background: url(../images/contact/contact_phone.png) no-repeat left 4px;
    padding-left: 22px;
}

.hide_sp {
    display: block;
}

@media (max-width:1200px) {
    .wrapContact {
        width: 100%;
        background: none;
    }
    .contactInner {
        width: 100%;
        margin-top: 0px;
        background: url(../images/contact/left_contact_t.jpg) top no-repeat, url(../images/contact/left_contact_b.jpg) bottom no-repeat, url(../images/contact/left_contact_re.jpg) top left repeat-y, url(../images/contact/left_contact_re.jpg) top right repeat-y;
        background-color: #bfe7fb;
        padding-bottom: 20px;
    }
    .left_contact {
        width: 100%;
        margin: 0 auto 20px;
        float: none;
        padding-top: 20px;
    }
    .infoContactArea {
        width: 90%;
        margin: 0 auto;
        float: none;
        background: #fff;
        padding: 20px;
        overflow: hidden;
        border-radius: 10px;
    }
    .btnContactInfo {
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
    }
    .info_title {
        margin-bottom: 10px;
    }
    .contact_img {
        margin: 0 auto;
        text-align: center;
    }
    .contact_img img {
        width: 100%;
        display: inline-block;
    }
    .wrapContact {
        padding-bottom: 50px;
    }
    .left_contact p {
        margin-left: 0;
    }
    .left_contact_inner {
        width: 90%;
        margin: 0 auto;
        background: #fff;
        padding: 0 15px;
        overflow: hidden;
    }
    .hide_sp {
        display: none;
    }
}