

.custom-home-chat {
    margin: 0 0 -1px;
    padding: 25px 15px;
    font-weight: 600;
    text-align: center;
    font-family: 'BalooTamma';
    font-size: 1.125em;
    text-transform: uppercase;
    color: #45a4f4;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    font-size: 1.2em;
}

#content {
    display: block;
}

.img-title-chat,
.title-chat {
    display: inline-block;
    vertical-align: middle;
}

.title-chat {
    padding-left: 15px;
}

.partner {
    padding-top: 30px;
}

.partner .slick-track {
    margin: 0 auto;
}

.awd_img img {
    transition: all 300ms ease-in;
}

.awd_img img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 300ms ease-in;
}

.award_custom .award_col_pc {
    padding: 15px;
}

.award_custom .owl-dots {
    display: none;
}

.award_slide .cus_prev.slick-disabled {
    background: url(../images/slick_prev.png) center no-repeat;
    z-index: 0;
}

.award_slide .cus_prev {
    background: url(../images/slick_prev.png) center no-repeat;
    left: -72px;
    outline: 0;
    z-index: 0;
}

.award_slide .cus_next.slick-disabled {
    background: url(../images/slick_next.png) center no-repeat;
    z-index: 0;
}

.award_slide .cus_next {
    background: url(../images/slick_next.png) center no-repeat;
    right: -72px;
    z-index: 0;
    outline: 0;
}

.showResults {
    font-size: 1.2em;
}

.speech-wrapper .bubble .txt .message {
    font-size: 1em;
}

.refresh-home {
    font-size: 1.2em;
    width: 150px;
    margin: 0 auto;
    padding-top: 15px;
}

.refresh-home img {
    vertical-align: top;
}

p.message .salary {
    vertical-align: middle;
}


/*box chat home page*/

#salary-tem,
#action-temp,
#payment-temp {
    visibility: hidden;
    display: none;
    position: absolute;
}


/*category page*/

.category-content {
    margin-bottom: 80px;
}

@media(max-width: 767px) {
    .category-content {
        margin-bottom: 50px;
    }
}

.category-page .banner01 a {
    margin-bottom: 30px;
}

.category-page .card:first-child,
.category-page .card:nth-child(2) {
    border: 4px solid #3597d6;
}

.category-page .box01 .cf {
    position: relative;
}

.category-page .logo_detail {
    position: absolute;
    right: 8%;
    top: -40%;
}

@media(max-width: 992px) {
    .category-page .logo_detail {
        top: -15%;
    }
}

@media(max-width: 760px) {
    .category-page .logo_detail {
        top: -10%;
    }
}

@media(max-width: 460px) {
    .category-page .logo_detail {
        position: absolute;
        right: 0;
        top: -8%;
    }
    .category-page .logo_detail img {
        max-width: 70%;
    }
}


/*comparison page*/

.comparisonTop {
    overflow: unset;
}

.comparisonTop:after {
    clear: both;
    content: '';
    display: block;
}

.comparison-page .iconSpecial {
    position: absolute;
    top: -55px;
    left: 0;
}

.comparison-page .iconSpecial>img,
.comparison-page .iconSpecial>p {
    display: inline-block;
}

.comparison-page .cf:before,
.comparison-page .cf:after {
    content: " ";
    display: table;
}

.comparison-page .iconSpecial>p {
    color: #0981ff;
    font-size: 0.6875em;
    line-height: 1;
    vertical-align: middle;
    margin-top: 15px;
}

.comparison_li li {
    height: 281px;
}

@media(max-width: 460px) {
    .comparisonInner {
        padding: 40px 0px;
    }
    .comparison_li li {
        float: left;
        margin: 7px;
        width: calc(50% - 14px);
    }
    .comparison_li li:nth-child(3),
    .comparison_li li:nth-child(4) {
        display: none;
    }
    .table_card tr th {
        float: left;
        width: 100%;
        text-align: center;
    }
    .table_card tr td {
        float: left;
        width: 50%;
        text-align: center;
        padding: 5px 10px;
        line-height: 130%;
    }
    .table_card tr th {
        padding: 10px 5px 15px;
    }
    .item-comparison-3,
    .item-comparison-4 {
        display: none;
    }
    .table_card tr td:nth-child(3) {
        padding: 5px 10px;
    }
    .comparison_li {
        float: left;
        padding-top: 35px;
    }
    .item-comparison-1 {
        position: relative;
    }
    .item-comparison-1:after {
        content: '';
        height: 85%;
        display: block;
        border-right: 1px solid #dfe2e5;
        position: absolute;
        right: 0;
        top: 0;
    }
}


/*brand page*/

.videoArea img.video01,
.videoArea img.video02,
.videoArea img.video03 {
    width: unset;
}

@media (max-width: 767px) {
    .videoArea img.video01,
    .videoArea img.video02,
    .videoArea img.video03 {
        max-width: 100%;
        width: unset;
        text-align: center;
    }
    .videoArea {
        text-align: center;
        display: block;
        margin: 0;
    }
    .block01 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

.block-survey {
    position: relative;
    margin-bottom: 35px;
    border: 1px solid #e1e1e3;
}

.block_img-survey:before,
.block_content:before {
    background-color: #45a4f4;
    height: 75%;
    left: 0px;
    position: absolute;
    z-index: 5;
    top: 0px;
    content: '';
    display: block;
    width: 100%;
}

.block-survey:after {
    content: '';
    display: block;
    clear: both;
}

.block_img-survey,
.block_content {
    float: left;
    width: 50%;
}

.block_img-survey img {
    margin-left: -10px;
    position: relative;
    z-index: 9;
    max-width: 100%;
}

.brand-form-info {
    position: relative;
    z-index: 9;
}

.brand-form-info .title {
    font-size: 18px;
    color: #fff;
}

.brand-page form:after {
    display: block;
    content: '';
    clear: both;
}

.block-form-info {
    width: 100%;
    padding-right: 25px;
}

.block_content {
    padding: 20px 0;
}

.brand-page input {
    border-radius: 5px;
    outline: 0;
    border: 0;
    padding: 8px 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #4a808e;
}

.brand-page input::placeholder {
    font-size: 18px;
    color: #4a808e;
}

.brand-page input:-ms-input-placeholder {
    font-size: 18px;
    color: #4a808e;
}

.brand-page input::-ms-input-placeholder {
    font-size: 18px;
    color: #4a808e;
}

.brand-page input.name,
.brand-page input.phone {
    width: 49%;
}

.brand-page input.phone {
    float: right;
}

.brand-page input.adress {
    width: 100%
}

.brand-page input.accept {
    float: right;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4dd965;
}

.brand-survey {
    position: relative;
    padding-top: 45px;
}

.brand-survey:after {
    display: block;
    content: '';
    clear: both;
}

#brand-salary,
#brand-open {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #dfebee;
    font-size: 16px;
    color: #4a808e;
    outline: 0;
    z-index: 2;
    position: relative;
    background: none;
    -webkit-appearance: none;
    /* for webkit browsers */
    -moz-appearance: none;
    /* for firefox */
    appearance: none;
    /* for modern browsers */
}

#brand-salary option,
#brand-open option {
    color: #4a808e;
}

.block-brand-salary,
.block-brand-open {
    width: 35%;
    float: left;
    position: relative;
    z-index: 2;
}

.block-brand-open {
    margin-left: 15px;
}

.block-brand-salary:after,
.block-brand-open:after {
    content: "▼";
    position: absolute;
    right: 7px;
    top: 8px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    color: #0981ff;
    font-size: 30px;
    line-height: 23px;
}

#view-brand-salary,
#view-brand-open {
    position: absolute;
    width: 90%;
    z-index: 1;
    color: #4a808e;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 16px;
    left: 12px;
    top: 12px;
    padding-right: 25px;
}

#brand-salary::-ms-expand,
#brand-open::-ms-expand {
    display: none;
}

.brand-accept-survey {
    background-color: #45a4f4;
    color: #fff;
    font-size: 16px;
    border: 0;
    outline: 0;
    width: 20%;
    margin-right: 25px;
    float: right;
    padding: 10px 10px;
}

.block03 {
    margin-bottom: 0px;
    padding-bottom: 35px;
}

.block04 {
    margin-bottom: 90px;
}

.brand-slider-blog-title {
    color: #0a2e3b;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.img-brand-blog,
.brand-slider-item .content {
    float: left;
}

.img-brand-blog {
    width: 30%;
}

.brand-slider-blog {
    padding-top: 35px;
}

.brand-slider-item .content {
    padding: 15px 10px;
    width: 70%;
}

.brand-slider-item .title {
    color: #3c4f5e;
    font-weight: bold;
    height: 85px;
    padding-bottom: 15px;
}

.brand-slider-item .time {
    font-style: italic;
}

.block-button-blog {
    padding: 25px 0px;
    text-align: center;
}

.go-to-blog {
    padding: 10px 15px;
    font-weight: bold;
    outline: 0;
    border: 2px solid #45a4f4;
    background-color: #fff;
    color: #45a4f4;
    font-size: 18px;
    border-radius: 5px;
}

.kvSliderArea:after {
    content: '';
    display: block;
    clear: both;
}

.brand-page .kvSlider {
    float: left;
    width: 74%;
}

.brand-slider-banner {
    float: left;
    width: 26%;
    text-align: right;
}

.brand-slider-banner img {
    max-width: 100%;
}

.brand-page .kvSlider .slick-slide img {
    width: unset;
    max-width: 100%;
}

.video-kv-larg,
.video-kv-small {
    width: 50%;
    float: left;
}

.small-kv-2,
.small-kv-1 {
    float: left;
    width: 50%;
}

.brand-page .videoArea img {
    max-width: 100%;
}

.small-kv-1 img {
    margin-left: -10px;
}

.block01 {
    margin: 45px 0px 35px;
}

@media(max-width: 992px) {
    .block01 {
        margin-top: 24px;
        margin-bottom: 20px;
    }
    .block_img-survey,
    .block_content {
        position: relative;
        width: 100%;
    }
    .block_img-survey img {
        max-width: 50%;
    }
    .brand-form-info {
        padding: 0px 20px;
    }
    .brand-form-info .title {
        position: absolute;
        width: 40%;
        top: -100%;
        right: 25px;
    }
}

@media(max-width: 460px) {
    .video-kv-larg,
    .video-kv-small {
        width: 100%;
    }
    .brand-page .kvSlider {
        width: 100%;
    }
    .brand-slider-banner {
        display: none;
    }
    .small-kv-1 img {
        margin-left: 0;
    }
    .small-kv-1 img {
        padding-right: 3px;
    }
    .small-kv-2 img {
        padding-left: 3px;
    }
    .brand-form-info .title {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
    }
    .block_img-survey img {
        max-width: 80%;
    }
    .brand-page input.name,
    .brand-page input.phone {
        width: 100%;
    }
    .brand-page input {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .block-brand-salary,
    .block-brand-open {
        width: 100%;
    }
    .block_content:before {
        content: unset;
    }
    .brand-form-info {
        background-color: #45a4f4;
        padding: 10px 20px;
    }
    .block-form-info {
        padding-right: 0;
    }
    .block_content {
        padding: 0px 0px 15px;
    }
    .brand-survey {
        padding: 20px;
    }
    .block-brand-open {
        margin: 10px 0px;
    }
    .brand-accept-survey {
        background-color: #45a4f4;
        color: #fff;
        font-size: 18px;
        margin-right: 0px;
        width: unset;
        float: right;
        padding: 10px 20px;
    }
}


/*home page*/

.home-page a.text-semibold {
    display: unset;
    font-weight: 600;
    color: #93a4ac;
    text-decoration: none;
}

.home-page a.text-semibold:hover {
    text-decoration: none;
}


/*mega menu*/

ul.main-menu li .megalv2 a {
    padding: 15px;
}

.navbar-nav>li {
    position: relative;
}

.megalv2,
ul.navbar-right li.login-register:hover .table-login-register {
    padding: 30px 0px 0px 0px;
    width: unset;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 0px 34px -10px #232876;
    z-index: 5;
    top: 100%;
}

.navbar-brand {
    margin-right: 60px;
}

.table-login-register {
    display: none;
    position: absolute;
    z-index: 25;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

ul.navbar-right li .table-login-register a {
    min-width: 250px;
    margin-top: 10px;
    background-color: #fdd835;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

ul.navbar-right li .table-login-register a.btn-face {
    background-color: #3b5998;
    color: #fff;
    padding: 10px 0px;
    text-align: left;
}

ul.navbar-right li .table-login-register a.btn-google {
    background-color: #df4a32;
    color: #fff;
    padding: 10px 0px;
    text-align: left;
}

ul.navbar-right li .table-login-register a.btn-sign-out {
    background-color: #fafafa;
    color: #3b5998;
    padding: 10px 0px;
    text-align: left;
}

a.btn-face span,
a.btn-google span,
a.btn-sign-out span
{
    font-size: 16px;
    border-right: 1px solid #333;
    padding: 10px;
    margin-right: 8px;
    text-align: center;
}

a.btn-face span i,
a.btn-google span i,
a.btn-sign-out span i{
    width: 20px;
}

ul.navbar-right li.login-register:hover .table-login-register {
    display: block;
    border: 0;
    padding: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.home-menu-img-sp {
    position: absolute;
    left: 5px;
    bottom: 0;
    text-align: center;
    z-index: 4;
}

.home-menu-img-sp img {
    max-width: 70%;
}

.menu-hover-title {
    background-color: #fff;
    padding: 0px 20px 20px 255px;
    color: #344a5f;
    font-size: 18px;
    font-weight: bold;
}

.menu-list-hover {
    background-color: #f1f4f9;
    margin: 0 auto;
    text-align: center;
    padding-left: 240px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.table-menu-hover {
    width: 480px;
}

.table-menu-hover td {
    text-align: center;
    padding: 0px 20px;
}

.block-menu-hover-img {
    padding-bottom: 5px;
}

.table-menu-hover span {
    display: none;
    text-align: center;
    color: #344a5f;
    font-size: 14px;
}

.see-all-mega {
    padding: 8px 25px;
    color: #fff;
    background-color: #4dd965;
    border: 0;
    outline: 0;
    border-radius: 50px;
    margin-bottom: 20px;
}

.item-hover {
    text-align: left;
    display: inline-block;
    width: calc(100% / 3.1);
}

header .navbar-brand {
    margin-bottom: 20px;
    margin-top: 20px;
}

.megalv1:hover a {
    color: #45a4f4;
}

@media(max-width: 1600px) {
    .table-menu-hover {
        width: 570px;
    }
}

@media(max-width: 1440px) {
    .megalv2 {
        left: 25%;
        transform: translateX(-25%);
    }
}


/*///home page*/

@media(max-width: 1440px) {
    .award_slide .cus_prev.slick-disabled {
        background: url(../images/slick_prev.png) no-repeat;
        background-size: 100%;
        z-index: 10;
        left: 0;
    }
    .award_slide .cus_next.slick-disabled {
        background-size: 100%;
        right: 0;
    }
    .award_slide .cus_prev {
        background-size: 100%;
        left: 0;
        z-index: 10;
    }
    .award_slide .cus_next {
        background: url(../images/slick_next.png) no-repeat;
        background-size: 100%;
        right: 0px;
        z-index: 10;
        outline: 0;
    }
    .cus_prev,
    .cus_next {
        width: 50px;
        height: 50px;
    }
    .arrPrev {
        left: -10px;
    }
    .takeCare {
        margin-left: 0;
    }
    .chatPanel {
        margin-left: 0;
    }
}

.awardArea .awd_txt02 {
    font-size: 13px;
}


/*//code email footer*/

.block-send-email {
    margin-bottom: 180px;
    margin-top: 30px;
}

.block-footer-email {
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 6px #edf3f6;
}

.block-img-email,
.block-send-email .title-email {
    display: inline-block;
    vertical-align: middle;
}

.block-send-email .title-email {
    padding: 0px 30px;
    color: #344a5f;
    font-weight: 600;
}

.text-large {
    font-size: 18px;
    display: block;
}

.text-small {
    font-size: 16px;
    display: block;
}

.email-box {
    width: 60%;
    outline: 0;
    border: 0;
    padding: 10px;
}

.block-info-email {
    border: 1px solid #b9def7;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 15px;
}

.send-email {
    float: right;
    border: 0;
    outline: 0;
    background-color: #4dd965;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0px 0px 12px 2px #5c95a5;
}

@media(max-width: 640px) {
    .block-img-email {
        width: 35%;
        float: left;
    }
    .block-send-email .title-email {
        padding-left: 10px;
        padding-right: 0px;
        float: left;
        width: 65%;
    }
    .email-box {
        width: 100%;
    }
    .send-email {
        margin-top: 25px;
        float: none;
        margin-bottom: 15px;
    }
    .block-info-email {
        text-align: center;
    }
    .block-send-email {
        margin-bottom: 70px;
    }
}


/*block comparison */

.block-modal-comparison {
    display: none;
    background: linear-gradient(-203deg, #3e3b3b, #242121);
    -webkit-background: linear-gradient(-203deg, #3e3b3b, #242121);
    -moz-background: linear-gradient(-203deg, #3e3b3b, #242121);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999999;
}

.block-modal-comparison .container-fluid {
    max-width: 896px;
    margin: 0 auto;
}

.block-content-modal-compare {
    padding: 15px 0px;
}

.list-product-compare:after {
    content: '';
    display: block;
    clear: both;
}

.info-item-compare {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.item-product-compare {
    width: calc(100% / 4);
    position: relative;
    float: left;
}

.block-item-product {
    margin: 0px 8px;
    border: 1px solid #c4cfd4;
    position: relative;
    background-color: #3e3b3b;
}

.info-item-compare img {
    max-width: 100%;
    display: none;
    margin: 0 auto;
    text-align: center;
}

.close_compare {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.item-default {
    color: #c4cfd4;
    width: 96px;
    height: 60px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    margin: 0 auto;
}

.block-item-product.is-active {
    background-color: #fff;
}

.close_compare {
    display: none;
}

.category-btn-compare {
    background-color: #c4cfd4;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    border-radius: 3px;
}

.category-btn-clear {
    padding: 8px;
    color: #c4cfd4;
    margin-top: 5px;
    background-color: transparent;
    text-align: center;
}

.block-item-product.is-active img {
    display: block;
}

.block-item-product.is-active .close_compare {
    display: block;
}

.block-item-product.is-active .item-default {
    display: none;
}

.block-modal-comparison.is-active {
    display: block;
}


/*//thankyou page*/

.thankyou-page .wrapThankyou {
    background: #c5e7fa url(../images/thankyou/bg-thankyou.png) no-repeat;
    background-size: 100%;
}

.thankyou_img {
    text-align: right;
    margin-right: -50px;
}

.thankyou_img img {
    width: unset;
    max-width: 100%;
}

.meseg_thank p {
    margin-bottom: 25px;
}

.meseg_thank {
    padding: 30px 46px 28px;
    top: 50px;
}

.img-card-bank,
.img-comokun {
    display: inline-block;
    vertical-align: bottom;
}

.img-comokun {
    margin-left: -10%;
    margin-right: -50px;
}

.thankyou_img {
    padding-top: 5%;
}

.thankyou-page .banner_right {
    position: fixed;
    right: 5%;
    top: 126px;
    z-index: 99999;
}

@media(max-width: 1900px) {
    .thankyou-page .banner_right {
        right: 3%;
    }
}

@media(max-width: 1600px) {
    .thankyou-page .wrapThankyouInner {
        max-width: 1070px;
    }
    .img-card-bank img {
        max-width: 80%;
    }
    .img-comokun img {
        max-width: 80%;
    }
    .img-comokun {
        margin-right: 0;
        margin-left: -20%;
    }
}

@media(max-width: 1440px) {
    .thankyou_img {
        margin-right: 0;
    }
    .img-card-bank img {
        max-width: 75%;
    }
    .img-comokun img {
        max-width: 75%;
    }
    .meseg_thank {
        width: 515px;
        left: 70px;
    }
    .thankyou_img {
        padding-top: 10%;
    }
    .thankyou-page .banner_right {
        right: 0;
        text-align: left;
    }
    .thankyou-page .banner_right img {
        max-width: 80%;
    }
}

@media(max-width: 1200px) {
    .thankyou-page .wrapThankyouInner {
        max-width: 1000px;
    }
    .img-comokun img {
        max-width: 60%;
    }
    .img-card-bank img {
        max-width: 60%;
    }
    .img-comokun {
        margin-right: 55px;
    }
}

@media(max-width: 992px) {
    .meseg_thank {
        position: relative;
    }
    .img-card-bank {
        width: 35%;
    }
    .img-comokun {
        width: 40%;
    }
    .thankyou_img {
        padding-top: 0;
    }
    .img-comokun {
        margin: 0;
    }
    .img-comokun img {
        max-width: 100%;
    }
    .img-card-bank img {
        max-width: 100%;
    }
    .thankyou-page .banner_right img {
        display: none;
    }
    .meseg_thank::after {
        display: none;
    }
    .wrapThankyouInner {
        padding-bottom: 50px;
    }
}



/*** Start Pagination ***/
.pagination-container {
    margin-top: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.pagination-container ul {
    margin: 0px;
}

.pagination-container ul li.prev,
.pagination-container ul li.next {
    padding-bottom: 5px;
    background-color: #fff;

}

.pagination-container ul li img {
    max-width: 100%;
}


.pagination-container ul li.prev a,
.pagination-container ul li.next a,
.pagination-container ul li.prev a:hover,
.pagination-container ul li.next a:hover,
.pagination-container ul li.prev a:focus,
.pagination-container ul li.next a:focus {
    color: #fff;
}

.pagination-container ul li a {
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #cfe0e6;
    line-height: 18px;
    background-color: #fff;
    border: 2px solid #cfe0e6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;

}
.pagination-container ul li a span {
    float: left;
    text-align: center;

}

.pagination-container ul li.active span {
    float: left;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    line-height: 18px;
    background-color: #45a4f4;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
    text-align: center;
}

.pagination-container ul li.disabled span {
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #cfe0e6;
    line-height: 18px;
    background-color: #fff;
    border: 2px solid #cfe0e6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    float:left
}



/*====== Start Menu ======*/
.navbar-nav .search-open{
    right: 0;
    top: 50px;
    display: none;
    padding: 14px;
    position: absolute;
    background: #fcfcfc;
    border-top: solid 2px #eee;
    box-shadow: 0 1px 3px #ddd;
    z-index: 100;
}

.animated {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}


@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


@media (min-width: 992px) {
    /*Search*/
    .navbar-nav .search-open {
        width: 330px;
    }
}


/*====== End Menu ======*/