body {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    line-height: 1.25;
}

/*Float*/
.cf {
	zoom: 1;
}
.cf:before, .cf:after {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}

.text-bold{
	font-weight: bold;
}

.vertical-mid{
	vertical-align: middle;
}

.dp_hide{
	display: none !important;
}

.wrapComparison{
	max-width: 1274px;
	margin: 0 auto;
	background: #fff;
}

.wrapOuterInfo{
	background: #fdfeff url(../images/info_bg.jpg) top center no-repeat;
	overflow: hidden;
}

.wrapForm{
	max-width: 1170px;
	margin: 53px auto 0;
	padding-bottom: 280px;
	position: relative;
}

.infoSlider{
	width: 600px;
	float: left;
	position: relative;
}

.infoFormArea{
	position: relative;
	float: left;
}

.infoForm{
	width: 570px;
	float: left;
	background: #fff;
	padding: 24px 30px 22px 32px;
	border-radius: 10px;
	position: absolute;
    left: 0;
    z-index: 99999;
}

.btnFormInfo{
	width: 100%;
	background: #00afef;
	padding: 29px 172px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	display: inherit;
	margin: 0 auto;
}

.infoFormInner input{
	width: 100%;
	height: 50px;
	border: 1px solid #dfebee;
	margin-bottom: 25px;
	padding: 0 10px;
}

.infoFormInner select{
	width: 100%;
	height: 50px;
	border: 1px solid #dfebee;
	margin-bottom: 25px;
	padding: 0 10px;
}

.infoFormInner .select_salay{
	-webkit-appearance: none;
	background: url(../images/arr_salary.png) 99% center no-repeat;
}

.titleForm{
	font-size: 19px;
	color:#6a777c;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 27px;
	margin-left: -10px;
	letter-spacing: -0.4px;
}

.info_title{
	font-size: 16px;
	color:#4b4b4b;
	margin-bottom: 15px;
}

.color_red{
	color: #ff4942;
}

.infoForm_bg{
	position: absolute;
	top: 10px;
    left: -34px;
}

.arrow_info{
	position: relative;
}

.arrow_info .slick-dots li button:before{
	position: absolute;
	color:#fe4a44;
	width: 30px;
	height: 30px;
	opacity: 1;
	font-size: 15px;
}

.arrow_info .slick-dots{
	bottom: 70px;
	text-align: left;
	left: 30px;
}

.arrow_info .slick-dots li.slick-active button:before{
	color: #3498db;
}

.navbar-nav.main-menu >li>a {
    color: #2f3639;
}

@media (min-width:768px){
	ul.main-menu li a{
		padding-left: 15px;
	}
}

@media (max-width:768px){
	.infoSlider{
		width: 100%;
	}
	
	.infoForm_bg{
		position: absolute;
		top:0;
		right:0;
	}
	
	.wrapForm{
		margin: 0;
		padding: 50px 10px;
	}
	
	.infoForm_bg img{
		max-width: 100%;
	}
	
	.infoSlider .slick-slide img{
		max-width: 100%;
		margin: 0 auto;
	}
	
	.infoForm{
		position: relative;
		width: 95%;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.btnFormInfo{
		padding:14px 0;
	}
	
	.infoFormArea{
		left: 50%;
    	transform: translateX(-50%);
	}
}
@media (width:1024px){
	.infoForm {
    	width: 420px;
	}
	
	.btnFormInfo{
		padding: 20px;
	}
}