body {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    line-height: 1.25;
    background: url(../images/bg_finance.jpg) repeat-x top center;
}


/* your Finance */


/* tab */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yourFinance {
    padding-bottom: 100px;
    padding-top: 33px;
}

@media screen and (max-width:768px) {
    .yourFinance {
        padding-bottom: 30px;
        padding-top: 15px;
    }
}

h1 img {
    margin: 0 auto;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

main {
    margin: 0 auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

a {
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

a:visited {
    text-decoration: none;
    outline: 0;
}

@media (max-width: 1200px) {
    main {
        padding-top: 20px;
    }
}

section[id^='content'] {
    display: none;
    padding: 17px 0 0;
    background-color: #fff;
}

input[id*='tab'] {
    display: none;
}

/*
label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 12px 15px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
    background-color: #ccc;
    font-family: 'BalooTamma';
    font-size: 1.125em;
    text-transform: uppercase;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: "";
    display: block;
    background: transparent url(../images/ico_creditcard.png) no-repeat center center;
    width: 30px;
    height: 23px;
    margin: 0 auto;
    margin-bottom: 10px;
}

label[for*='2']:before {
    content: "";
    display: block;
    background: transparent url(../images/ico_insurance.png) no-repeat center center;
    width: 30px;
    height: 23px;
    margin: 0 auto;
    margin-bottom: 10px;
}

label[for*='3']:before {
    content: "";
    display: block;
    background: transparent url(../images/ico_consumer.png) no-repeat center center;
    width: 26px;
    height: 23px;
    margin: 0 auto;
    margin-bottom: 10px;
}
*/

input[id*='tab']:checked+label {
    color: #45a4f4;
}

input[id*='tab']+label[for*='1'] {
    color: #c4c4c4;
    background-color: #f8f8f8;
    border-top-left-radius: 30px;
    width: 33.3333333%;
    margin-right: -4px;
}

input[id*='tab']:checked+label[for*='1'] {
    color: #45a4f4;
    background-color: #fff;
    border-top-left-radius: 30px;
}

input[id*='tab']:checked+label[for*='1']::before {
    background: transparent url(../images/ico_creditcard_ov.png) no-repeat center center;
}

input[id*='tab']+label[for*='2'] {
    background-color: #f8f8f8;
    color: #c4c4c4;
    width: 33.3333333%;
    margin-right: -5px;
}

input[id*='tab']:checked+label[for*='2'] {
    color: #45a4f4;
    background-color: #fff;
}

input[id*='tab']:checked+label[for*='2']::before {
    background: transparent url(../images/ico_insurance_ov.png) no-repeat center center;
}

input[id*='tab']+label[for*='3'] {
    background-color: #f8f8f8;
    border-top-right-radius: 30px;
    width: 33.3333333%;
}

input[id*='tab']:checked+label[for*='3'] {
    color: #45a4f4;
    background-color: #fff;
    border-top-right-radius: 30px;
}

input[id*='tab']:checked+label[for*='3']::before {
    background: transparent url(../images/ico_consumer_ov.png) no-repeat center center;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
    display: block;
}

@media screen and (max-width: 1200px) {
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}


/* chat panel */

.speech-wrapper {
    padding: 8px 40px;
}

.message select::-ms-expand {
    display: none;
}

@media screen and (max-width: 767px) {
    .speech-wrapper {
        padding: 8px 20px;
    }
}

.speech-wrapper .bubble {
    max-width: 100%;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    width: -ms-max-content;
    height: auto;
    display: block;
    background: #e5e5ea;
    border-radius: 30px;
    position: relative;
    margin: 0 0 16px;
}

.speech-wrapper .bubble.alt {
    margin: 0 0 0 auto;
    background: #0981ff;
}

.speech-wrapper .bubble .txt .name {
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 4px;
    color: #3498db;
}

.speech-wrapper .bubble .txt .name span {
    font-weight: normal;
    color: #b3b3b3;
}

.speech-wrapper .bubble .txt .name.alt {
    color: #2ecc71;
}

.speech-wrapper .bubble .txt .message {
    margin: 0;
    color: #2f3639;
    padding: 10px 29px;
}

@media screen and (max-width: 600px) {
    .speech-wrapper .bubble .txt .message {
        font-size: 1em;
    }
}

.speech-wrapper .bubble.alt .txt .message {
    color: #fff;
    padding: 10px 10px 10px 30px;
}

@media screen and (max-width: 1200px) {
    .speech-wrapper .bubble.alt .txt .message {
        color: #fff;
        padding: 10px 4px 10px 30px;
    }
}

.speech-wrapper .bubble .txt .timestamp {
    font-size: 11px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    text-transform: uppercase;
    color: #999;
}

.speech-wrapper .bubble .bubble-arrow {
    position: absolute;
    width: 0;
    bottom: 42px;
    left: -16px;
    height: 0;
}

.speech-wrapper .bubble .bubble-arrow.alt {
    right: -2px;
    bottom: 40px;
    left: auto;
}

.speech-wrapper .bubble .bubble-arrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid #e5e5ea;
    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
}

.speech-wrapper .bubble .bubble-arrow.alt:after {
    transform: rotate(45deg) scaleY(-1);
    border-top: 9px solid #0981ff;
}

.bgChat {
    background: transparent url(../images/bg_chat.png) repeat-x bottom center;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 40px;
}

.salary {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 1em;
    vertical-align: top;
    outline: none;
}

.salary option {
    background-color: #fff;
    color: #000;
}

@media (max-width: 360px) {
    .salary {
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: #0981ff;
        font-size: 1em;
    }
}

.salary:focus,
.salary:hover {
    border: 0;
}

.salary::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

.salary::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.salary:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

.salary:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.selectOpt {
    background-color: transparent;
    border: 0;
    outline: none;
    width: 100%;
}

.selectOpt option {
    background-color: #fff;
    color: #000;
}

.selectOpt option[selected] {
    background-color: #fff;
}

.noteChat {
    display: block;
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
    color: #93a4ac;
    margin-bottom: 20px;
}

.noteChat span {
    font-weight: 600;
}

.showResults {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #4dd965;
    color: #fff;
    border: 0;
    outline: none;
}

.takeCare {
    margin-left: 0px;
    padding-left: 0;
    padding-right: 0;
}

.takeCare h2 img {
    margin: 0 auto;
}

.takeCare p {
    color: #7a888f;
    font-size: 1.125em;
    letter-spacing: -0.65px;
    padding-top: 16px;
    margin-bottom: 10px;
}

@media screen and (max-width:1200px) {
    .takeCare {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
}


/*partner*/

.partner {
    padding-bottom: 20px;
}

.partner img {
    margin: 0 auto;
}

.arrPrev {
    background: transparent url(../images/arr_prev.png) no-repeat top center;
    width: 16px;
    height: 30px;
    padding-left: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -20px;
    border: 0;
}

.arrNext {
    background: transparent url(../images/arr_next.png) no-repeat top center;
    width: 16px;
    height: 30px;
    padding-left: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -30px;
    border: 0;
}

@media screen and (max-width:1200px) {
    .arrPrev {
        background: transparent url(../images/arr_prev.png) no-repeat top center;
        width: 16px;
        height: 30px;
        padding-left: 16px;
        position: absolute;
        top: 50%;
        left: 20px;
        border: 0;
    }
    .arrNext {
        background: transparent url(../images/arr_next.png) no-repeat top center;
        width: 16px;
        height: 30px;
        padding-left: 16px;
        position: absolute;
        top: 50%;
        right: 20px;
        border: 0;
    }
}


/* end your finance */


/*start Vân*/

.choiceAward h2 {
    font-family: 'BalooTamma';
    font-style: normal;
    font-weight: 400;
    color: #45a4f4;
    font-size: 30px;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.awardArea .ttl_awd h3 {
    padding-left: 30px;
    font-size: 21px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 24px;
    padding-top: 7px;
}

.awardArea .ttl_awd .icon_adw_01 {
    background: url(../images/icon_adw_01.png) top left no-repeat;
}

.awardArea .ttl_awd .icon_adw_02 {
    background: url(../images/icon_adw_02.png) top left no-repeat;
}

.awardArea .ttl_awd .icon_adw_03 {
    background: url(../images/icon_adw_03.png) top left no-repeat;
}

.awardArea .awd_img {
    margin-bottom: 0;
    min-height: 218px;
}

.awardArea .awd_img img {
    max-width: 100%;
    margin: 0 auto;
}

.awardArea .awd_star {
    margin-top: -22px;
    margin-bottom: 15px;
}

.awardArea .awd_txt01 {
    color: #0981ff;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 16px;
}

.awardArea .awd_txt02 {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 600;
    background: url(../images/icon_award.png) no-repeat left;
    padding-left: 25px;
    margin: 0;
    margin-bottom: 9px;
}

.awardArea .awd_more {
    text-align: center;
    border: 1px solid #2369ff;
    width: 168px;
    border-radius: 20px;
    line-height: 1;
    padding: 12px 0 11px;
    margin: 0 auto;
}

.awardArea .awd_more a {
    font-size: 16px;
    text-transform: uppercase;
    color: #2369ff;
}

.awardArea .award_col_pc {
    margin: 0 4%;
}

.awardArea .award_col_pc:focus {
    outline: none;
}

.choiceAward {
    margin-bottom: 80px;
}

.awd_block .adw_block_img {
    margin-bottom: 20px;
    text-align: center;
}

.awd_block {
    margin-bottom: 90px;
}

@media screen and (max-width:768px) {
    .awd_block {
        margin-bottom: 30px;
    }
}

.mb23 {
    margin-bottom: 23px !important;
}

.awd_about .see_more {
    background: #4dd965;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    padding: 10px 0;
}

.awd_about .see_more a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.awd_about .awd_about_cat {
    max-width: 100%;
    margin: 0 auto;
}

.awd_about_cat img {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.awd_about {
    margin-bottom: 85px;
}

.awd_about .ttl_awd_about h2 {
    font-family: 'BalooTamma';
    font-weight: 400;
    color: #45a4f4;
    font-size: 30px;
    text-transform: uppercase;
    margin: 30px 0;
}

.awd_about .txt_awd_about {
    margin-bottom: 52px;
}

.awd_about .txt_awd_about p {
    color: #93a4ac;
    font-size: 20px;
    font-family: 'Montserrat';
    line-height: 1.5;
    margin-bottom: 30px;
}

.fb_customer {
    padding-bottom: 212px;
}

.fb_customer .ttl_fb_customer h2 {
    font-family: 'BalooTamma';
    font-weight: 400;
    color: #45a4f4;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
}

.fb_customer .txt_fb_customer {
    width: 83%;
    float: right;
}

.fb_customer .txt_fb_customer p {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #555555;
    font-weight: 300;
}

.fb_customer .txt_fb_cus {
    line-height: 1.875;
    margin-bottom: 23px;
}

.fb_customer .name_fb_cus {
    line-height: 1;
    margin-bottom: 4px;
}

.fb_customer .txt_fb_customer .name_fb_cus {
    font-weight: 600;
}

.fb_customer .txt_fb_customer p span {
    color: #4dd965;
}

.img_fb_cus {
    width: 17%;
    float: left;
}

.adw_block_img img {
    max-width: 100%;
    margin: 0 auto;
}

.cus_prev,
.cus_next {
    width: 63px;
    height: 63px;
    border: none;
    display: block;
    position: absolute;
    top: 33%;
    z-index: 999;
}

.award_slide .cus_prev {
    background: url(../images/slick_prev.png) center no-repeat;
    left: -72px;
    background-size: 100%;
}

.award_slide .cus_next {
    background:  url(../images/slick_next.png) center no-repeat;
    right: -72px;
    background-size: 100%;
}

.award_slide .cus_prev.slick-disabled {
    /*background: #3a3a3a url(../images/slick_prev.png) center no-repeat;*/
    background: url(../images/slick_prev.png) no-repeat;
    background-size: 100%;
    z-index: 10;
    left: 0;
}

.award_slide .cus_next.slick-disabled {
    /*background: #3a3a3a url(../images/slick_next.png) center no-repeat;*/
    background: url(../images/slick_next.png) no-repeat;
    background-size: 100%;
    right: 0px;
    z-index: 10;
    outline: 0;
}

@media screen and (min-width: 1324px) {
    .wrapper {
        width: 1306px !important;
        margin: 0 auto !important;
    }
}

@media screen and (max-width:1324px) {
    .award_slide .cus_prev {
        background: url(../images/slick_prev.png) center no-repeat;
        left: 0;
        background-size: 100%;
    }
    .award_slide .cus_next {
        background: url(../images/slick_next.png) center no-repeat;
        right: 0;
        background-size: 100%;
    }
    .cus_prev,
    .cus_next {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .ttl_fb_customer {
        width: 100%;
    }
    .col_fb_customer {
        margin-bottom: 30px;
    }
    .awardArea .award_col {
        max-width: 276px;
        margin: 0 auto;
    }
    .awd_about .ttl_awd_about h2 {
        text-align: center;
    }
    .awd_about .see_more {
        margin: 0 auto;
    }
    .awd_about_left {
        margin-bottom: 40px;
    }
    .fb_customer .ttl_fb_customer h2 {
        margin-bottom: 30px;
    }
    .awd_about {
        margin-bottom: 60px;
    }
    .awd_about .txt_awd_about p {
        margin-bottom: 20px;
    }
    .awd_about .txt_awd_about {
        margin-bottom: 30px;
    }
    .awardArea .award_col_pc {
        margin: 0 auto;
    }
    .img_fb_cus {
        width: 100%;
        float: none;
        text-align: center;
    }
    .txt_fb_customer {
        width: 100% !important;
        float: none !important;
    }
    .award_slide .cus_prev {
        left: -72px;
    }
    .award_slide .cus_next {
        right: -72px;
    }
    .cus_prev,
    .cus_next {
        width: 35px;
        height: 35px;
    }
    .award_slide .cus_prev {
        left: 0;
    }
    .award_slide .cus_next {
        right: 0;
    }
    .fb_customer {
        padding-bottom: 50px;
    }
}


/*end Vân*/


/*start Hiếu*/

.starList {
    margin: -10px 0 16px 0;
    height: 15px;
    position: relative;
}

.starList>.star {
    float: left;
    margin-right: 12px;
    width: 26px;
}

.starList>.star img {
    vertical-align: top;
    width: 100%;
}

.starList>.star>img:nth-child(2) {
    display: none;
}

.starList.star-1>.star:nth-child(n+2)>img:nth-child(1) {
    display: none;
}

.starList.star-1>.star:nth-child(n+2)>img:nth-child(2) {
    display: block;
}

.starList.star-2>.star:nth-child(n+3)>img:nth-child(1) {
    display: none;
}

.starList.star-2>.star:nth-child(n+3)>img:nth-child(2) {
    display: block;
}

.starList.star-3>.star:nth-child(n+4)>img:nth-child(1) {
    display: none;
}

.starList.star-3>.star:nth-child(n+4)>img:nth-child(2) {
    display: block;
}

.starList.star-4>.star:nth-child(n+5)>img:nth-child(1) {
    display: none;
}

.starList.star-4>.star:nth-child(n+5)>img:nth-child(2) {
    display: block;
}

.starList>.star:last-child {
    margin-right: 0;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}


/*feedback 27032018*/

.home-page .block-service-item {
    border: 0;
}

.home-page .block-right-card {
    padding: 0 8px;
}

.cus_prev,
.cus_next {
    width: 50px;
    height: 50px;
}

.home-page .speech-wrapper .icon-drop {
    position: relative;
}

.home-page .speech-wrapper .icon-drop select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px 30px 10px 30px;
}

.home-page .speech-wrapper .icon-drop:after {
    content: "";
    width: 14px;
    height: 7px;
    background: url(../images/icon/icon-dropdown-home.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
    pointer-events: none;
    color: #0981ff;
    font-size: 30px;
    line-height: 0;
}

.home-page .speech-wrapper .bubble.alt .txt .icon-drop {
    padding: 0;
}

.partner {
    padding: 0 !important;
    margin-top: 30px;
    margin-bottom: 20px;
}

button {
    outline: 0;
}
.fb_customer{
    padding-bottom: 0;
}

.mCSB_scrollTools{
    width: 20px;
}