.wrapAccount {
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 58px;
}

.navbar-brand {
    margin-right: 20px;
}

.accountArea {
    background: #f1f8fa;
    padding-bottom: 194px;
}

.acount_welcome_name {
    text-align: right;
    margin-right: 15px;
    font-size: 18px;
}

.w_account_name {
    color: #9298a0;
}

.w_icon_user {
    font-size: 45px;
    padding: 0 !important;
    margin-left: 5px;
}

.w_icon_search {
    padding: 27px 0 0 !important;
    font-size: 22px;
}

.main-menu .active {
    color: #45a4f4 !important;
}

.w_account {
    float: left;
}

.w_hello {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    ;
}

@media (min-width:1200px) {
    .navbar-collapse {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    ul.main-menu li a {
        padding: 30px 10px;
    }
    ul.navbar-right li {
        padding: 19px 0;
    }
}

.header_bottom {
    height: 50px;
    background: #45a4f4;
}

.breadcrum {
    background: #ffffff;
    overflow: hidden;
}

.breadcrumLi {
    width: 1170px;
    margin: 0 auto;
}

.breadcrumLi li {
    float: left;
    background: url(../images/page-account/br_arrows.png) no-repeat top right;
    padding-right: 20px;
    margin-right: 45px;
}

.breadcrumLi li:last-child {
    background: transparent;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.breadcrumLi li a {
    font-size: 13px;
    color: #2f3639;
    padding: 16px 0;
}

.breadcrumLi li a.active {
    color: #9298a0;
}

.left_account {
    width: 256px;
    float: left;
    margin-top: 41px;
}

.right_account {
    width: 769px;
    margin-right: 100px;
    float: right;
    background: #fefeff;
    border-radius: 20px;
    margin-top: 19px;
    overflow: hidden;
}

.formArea {
    padding: 38px 100px 10px 24px;
    background: url(../images/page-account/formArea-bg.jpg) bottom center repeat-x;
}

.l_user_login {
    background: linear-gradient(to right, rgba(109, 198, 249, 1), rgba(70, 167, 255, 1));
    border-radius: 8px;
    color: #ffffff;
    padding: 15px 0 16px;
    padding-left: 30px;
    margin-bottom: 28px;
}

.l_user_login_ttl {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 7px;
}

.l_user_login_name {
    font-size: 16px;
}

.account_info {
    background: url(../images/page-account/account_info_bg.png) left no-repeat;
    border-radius: 8px 0 0 8px;
    color: #da5723;
    padding: 11px 23px;
    margin-bottom: 30px;
    cursor: pointer;
    line-height: 1;
}

.account_info span {
    display: inline-block;
    padding-top: 4px;
}

.account_info i {
    padding-right: 24px;
    font-size: 20px;
}

.account_noffication {
    margin-bottom: 42px;
    cursor: pointer;
}

.account_noffication i {
    padding-left: 25px;
    padding-right: 28px;
    font-size: 18px;
}

.account_favorite {
    cursor: pointer;
}

.account_favorite i {
    padding-left: 26px;
    padding-right: 26px;
}

.right_account h2 {
    color: #45a4f4;
    font-size: 30px;
    font-family: 'BalooTamma';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.right_account i {
    padding-right: 29px;
}

.formInner {
    margin-left: 47px;
}

.formInner dl dt {
    float: left;
    width: 129px;
    vertical-align: middle;
    margin-top: 10px;
}

.formInner dl dd {
    margin-left: 129px;
    margin-bottom: 22px;
}

.formInner dl dd input {
    padding: 0 22px;
    box-sizing: border-box;
    border: 2px solid #b9def7;
    border-radius: 6px;
    vertical-align: top;
    outline: none;
}

.gender {
    margin-bottom: 26px !important;
}

.account_email {
    margin-bottom: 27px !important;
}

.birthday_day {
    margin-bottom: 10px !important;
}

.birthday_day .form-group input {
    padding: 19px 10px 20px;
}

.account_note {
    margin-bottom: 27px !important;
}

.account_note p {
    color: #96a6a6;
    font-size: 15px;
    font-style: italic;
}

.full_width {
    width: 100%;
}

.btnSubmit {
    margin-top: 8px;
}

.input {
    height: 43px;
}

.gender label {
    float: left;
    margin-right: 88px;
}

.gender input {
    margin-right: 18px;
}

.gender select {
    background: #b9def7;
}

.formInner dl dd select {
    height: 43px;
    padding-left: 25px;
    padding-right: 40px;
    border: 2px solid #b9def7;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/page-account/select_arr.jpg) no-repeat center right;
    outline: none;
    color: #4a808e;
}

.gender .radio {
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid #9298a0;
    border-radius: 50%;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    padding: 0;
    float: left;
}

.gender .radio:checked {
    border: 1px solid #45a4f4;
    outline: none;
}

.gender .radio:checked::after {
    content: '';
    display: block;
    background: #45a4f4;
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    outline: none;
}

.gender span {
    padding-top: 6px;
    float: left;
}

.renew_password {
    width: 26px !important;
    height: 26px;
    background: #45a4f4;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 !important;
    border: none !important;
    outline: none;
    border-radius: 0 !important;
    position: relative;
    float: left;
    margin-right: 18px !important;
}

.renew_password:checked::after {
    width: 15px;
    height: 6px;
    content: '';
    display: block;
    position: absolute;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
}

.renew_password_ttl {
    float: left;
    padding-top: 6px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4a808e;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #4a808e;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #4a808e;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #4a808e;
}

.formInner .submit {
    background: #4cd966;
    width: 270px;
    height: 50px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

.account_social p {
    margin-bottom: 13px;
}

.account_social {
    height: 117px;
    background: #fff;
    padding: 25px 70px 0;
}

.newsletter {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    background: #ffffff;
    display: table;
    border-radius: 10px;
    box-shadow: 0 0 32px 0 rgb(200, 224, 240, 0.53);
}

.img_newsletter {
    display: table-cell;
    vertical-align: middle;
    padding: 18px 0 22px 53px;
}

.txt_newsletter {
    display: table-cell;
    vertical-align: middle;
    padding-left: 56px;
}

.txt_newsletter span {
    display: block;
    font-family: 'BalooTamma';
    font-style: normal;
    color: #344a5f;
}

.form_newletter {
    display: table-cell;
    vertical-align: middle;
}

.fs24 {
    font-size: 24px;
}

.fs18 {
    font-size: 18px;
}

.form_newletterArea {
    border: 2px solid #b9def7;
    height: 83px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 69px;
}

.txtEmail {
    height: 79px;
    width: 410px;
    border-radius: 8px;
    border: none;
    padding-left: 18px;
    outline: none;
}

.newsletter_submit {
    width: 164px;
    background: #4dd965;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    color: #fff;
    line-height: 1;
    padding: 16px 0 20px;
    margin-right: 23px;
}

.accountSocial li {
    float: left;
    margin-right: 20px;
}

@media (min-width:1200px) {
    .width_143 {
        width: 143px;
        float: left;
        margin-right: 20px;
    }
    .formInner dl dd select:last-child {
        margin-right: 0 !important;
    }
    .l_user_login {
        width: 238px;
    }
    .tab_left {
        font-size: 13px;
    }
}

@media (max-width:1200px) {
    .wrapAccount {
        width: 96%;
        margin: 0 2%;
    }
    .breadcrumLi {
        width: 100%;
        padding: 0 25px;
    }
    .wrapOuterAccount {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    .left_account {
        width: 100%;
    }
    .right_account {
        width: 100%;
    }
    .formArea {
        padding: 20px;
    }
    .formInner {
        margin-left: 0;
    }
    .formInner dl dt {
        width: 20%;
    }
    .formInner dl dd {
        width: 80%;
        margin-left: 0;
        float: left;
    }
    .formInner dl dd input {
        width: 100%;
    }
    .formInner dl dd select {
        padding-left: 10px;
    }
    .newsletter {
        width: 96%;
        display: block;
        margin: 0 2%;
        padding: 10px;
    }
    .l_user_login {
        width: 300px;
        margin-left: 20px;
    }
    .tab_left {
        overflow: hidden;
        margin: 0 20px;
    }
    .account_info {
        float: left;
        padding: 10px 31px;
        margin-bottom: 0;
    }
    .account_noffication {
        float: left;
        margin: 13px 0;
    }
    .account_favorite {
        float: left;
        margin: 13px 0;
    }
    .ttl_newsletter {
        width: 100%;
    }
    .form_newletter {
        display: block;
    }
    .form_newletterArea {
        margin-right: 0;
        height: 64px;
    }
    .txtEmail {
        width: 68%;
        height: 60px;
    }
    .newsletter_submit {
        width: 30%;
        font-size: 15px;
        padding: 16px 5px;
        margin-right: 0;
    }
    .img_newsletter {
        padding: 10px;
    }
    .img_newsletter img {
        max-height: 70px;
    }
    .btnSubmit {
        width: 100% !important;
        margin: 20px auto;
        text-align: right;
    }
    .gender {
        width: 40%!important;
    }
    .birthday_day select {
        width: 31%;
        margin-right: 1%;
    }
    .gender label {
        margin-right: 20px;
    }
    .dd_renew_password {
        width: 100% !important;
    }
    .acount_welcome_name {
        text-align: left;
    }
    .w_icon_user {
        margin-left: 15px;
    }
    .right_account {
        margin-right: 0 !important;
    }
    .right_account h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }
}

@media(max-width:480px) {
    .formInner dl dt {
        width: 100%;
        margin-bottom: 10px;
    }
    .formInner dl dd {
        width: 100%;
    }
    .formInner .submit {
        width: 100%;
    }
    .account_social {
        padding: 10px;
    }
    .gender {
        width: 100% !important;
    }
}