#pagination {
    text-align: center;
    display: table;
    margin: 35px auto 0px auto;
}

#pagination img {
    max-width: 100%;
}

#pagination ul {
    margin: 0 auto;
    text-align: center;
    display: table-cell;
}

#pagination li span {
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    line-height: 18px;
    background-color: #45a4f4;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

#pagination li span.prev,
#pagination li span.next {
    background-color: #fff;
    border: 2px solid #cfe0e6;
}

#pagination li span.prev img,
#pagination li span.next img {
    padding-bottom: 5px;
}

#pagination li a.prev img,
#pagination li a.next img {
    padding-bottom: 5px;
}

#pagination li a {
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #cfe0e6;
    line-height: 18px;
    background-color: #fff;
    border: 2px solid #cfe0e6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

#pagination li {
    margin-right: 8px;
}

#pagination ul:after {
    clear: both;
    display: block;
    content: '';
}