/*DETAIL*/

.modalDetail .wrapDetail {
    width: auto !important;
    max-width: 1170px !important;
    position: relative;
    display: block;
    margin: 30px auto;
}

.kvDetail {
    border: 7px solid #fff;
    border-bottom: none;
}

.btnCloseDetail {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
}

#popupDetail .contentDetail {
    background: #fff;
    padding-bottom: 70px;
}

.modalDetail {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(17, 17, 17, 0.83);
    display: none;
}

.modalDetail.is-active {
    display: block;
}

.box01 {
    padding: 40px 40px 0 40px;
    box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.13);
    margin: 0 35px;
    margin-top: 63px;
    position: relative;
    margin-bottom: 45px;
    border-radius: 30px;
}

.box01 .cardName {
    font-family: 'Baloo';
    font-size: 1.875em;
    color: #5a5a5a;
    line-height: 1;
    margin-bottom: 30px;
}

.cardImgArea {
    width: 35%;
    position: relative;
    padding-top: 25px;
    margin-top: -145px;
}

.cardImgArea>img {
    width: 100%;
}

.cardImgArea .cardTitle01 {
    font-family: 'Baloo';
    font-size: 1.875em;
    color: #45a5f6;
    line-height: 1;
    position: absolute;
    bottom: 100%;
}

.cardContent01 {
    width: 45%;
    padding-left: 40px;
    padding-top: 20px;
}

.btnArea {
    width: 20%;
}

.btnCompare {
    width: 200px;
    max-width: 100%;
    height: 48px;
    border-radius: 24px;
    line-height: 48px;
    color: #2369ff;
    background: #fff;
    font-size: 20px;
    border: 1px solid #2369ff;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.3s;
}

.btnCompare:hover {
    color: #fff;
    background: #2369ff;
}

.btnRegister {
    width: 200px;
    max-width: 100%;
    height: 48px;
    border-radius: 24px;
    line-height: 48px;
    color: #fff;
    background: #4dd965;
    font-size: 20px;
    border: 1px solid #4dd965;
    text-align: center;
    transition: 0.3s;
    margin-bottom: 30px;
}

.btnRegister:hover {
    color: #4dd965;
    background: #fff;
}

.textPromo {
    font-size: 1.5em;
    color: #e71d1c;
    line-height: 1;
    padding-left: 18px;
    background: url(../images/icon_gift.png) no-repeat left center;
}

#page-category .card .textPromo {
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
}

.textPromo.v02 {
    padding-left: 30px;
    background: url(../images/icon_promo_detail.png) no-repeat left top;
}

.blockPromoWrap {
    margin-top: 30px;
}

.blockPromo {
    width: 50%;
}

.blockPromo .imgPromo {
    width: 35%;
}

.blockPromo .content {
    padding: 0 30px;
    margin-left: 35%;
}

.blockPromo .content .title {
    color: #496071;
    font-size: 1.375em;
    line-height: 1.36;
    margin-bottom: 9px;
}

.blockPromo .content .text {
    color: #8699a8;
    font-size: 0.875em;
    line-height: 1.42;
}

.modalDetail .wrapDetailInner {
    max-width: 1030px;
    margin: 0 auto;
}

.box03 {
    padding-bottom: 45px;
    border-bottom: 1px solid #afafb1;
    margin-bottom: 4px;
    margin-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
}

.box04 {
    padding-top: 40px;
    border-top: 1px solid #afafb1;
}

.textRelated {
    font-size: 1.5em;
    line-height: 1;
    color: #e71d1c;
}

.textRelated>span {
    padding-left: 35px;
    background: url(../images/icon_card_detail.png) no-repeat left center;
}

.modalDetail .relatedSlider {
    width: 100%;
    margin-top: 35px;
}

.modalDetail .cardRelated .cardTitle>a {
    display: block;
    font-size: 1.125em;
    line-height: 1.22;
    color: #6c869b;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

.modalDetail .cardRelated {
    padding-bottom: 50px;
}

.modalDetail .cardRelated img {
    display: inline-block;
    transition: 0.3s;
}

.modalDetail .cardRelated:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-box-shadow: -4px 7px 24px 0 rgba(220, 230, 232, 1);
    box-shadow: -4px 7px 24px 0 rgba(220, 230, 232, 1);
}

.modalDetail .relatedSliderDots .slick-dots {
    overflow: hidden;
    text-align: center;
    position: unset;
}

.modalDetail .slick-dots li button:before {
    content: unset;
}

.modalDetail .relatedSliderDots .slick-dots>li {
    display: inline-block;
    text-indent: -999999999px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #b7b7b7;
    margin: 0 10px;
    cursor: pointer;
}

.modalDetail .relatedSliderDots .slick-dots>li.slick-active {
    background: #000;
}

.modalDetail .relatedSlider .slick-prev,
.modalDetail .relatedSlider .slick-next {
    color: #c3cfe5;
    font-size: 2.5em;
}

.modalDetail .relatedSlider {
    position: relative;
    padding: 0 30px;
}

.modalDetail .relatedSlider .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modalDetail .relatedSlider .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modalDetail .starList>.star {
    display: inline-block;
    margin-right: 12px;
    width: 18px;
    float: unset;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/*TAB*/

.modalDetail [tab-header-pc],
.modalDetail [tab-header-sp] {
    cursor: pointer;
}

.modalDetail [tab-body] {
    display: none;
}

@media (min-width: 769px) {
    [tab-header-sp] {
        display: none !important;
    }
}

@media (max-width: 768px) {
    [tab-header-pc] {
        display: none !important;
    }
}


/* RESTYLE TAB */

.table {
    display: table;
}

.table>.cell {
    display: table-cell;
}

.modalDetail .tabHeaderList {
    width: 240px;
}

.modalDetail .tabHeaderList>li,
.modalDetail .tabHeader-sp {
    font-weight: 600;
    color: #b9c9ce;
    padding: 30px 0 30px 40px;
    border: 1px solid #eaf7fb;
    border-right: none !important;
    border-radius: 20px 0 0 20px;
    margin-bottom: 15px;
    background: #eaf7fb;
}

.modalDetail .tabHeaderList>li.is-active,
.modalDetail .tabList>li.is-active .tabHeader-sp {
    color: #45a5f6;
    background: #fff;
    border: 1px solid #dbecf2;
    position: relative;
    box-shadow: 4px -6px 24px 0 rgba(224, 240, 244, 0.57);
}

.modalDetail .tabHeaderList>li.is-active:before {
    content: '';
    display: block;
    height: 100%;
    width: 21px;
    background: #fff;
    position: absolute;
    right: -20px;
    top: 0;
}

.modalDetail .tabHeaderList>li>span,
.modalDetail .tabHeader-sp>span {
    padding: 5px 0;
    padding-left: 45px;
}

.modalDetail .tabHeaderList>li:nth-child(1)>span,
.modalDetail .tabList>li:nth-child(1) .tabHeader-sp>span {
    background: url(../images/icon_detail_01.png) no-repeat center left;
}

.modalDetail .tabHeaderList>li:nth-child(2)>span,
.modalDetail .tabList>li:nth-child(2) .tabHeader-sp>span {
    background: url(../images/icon_detail_02.png) no-repeat center left;
}

.modalDetail .tabHeaderList>li:nth-child(3)>span,
.modalDetail .tabList>li:nth-child(3) .tabHeader-sp>span {
    background: url(../images/icon_detail_03.png) no-repeat center left;
}

.modalDetail .tabHeaderList>li.is-active:nth-child(1)>span,
.modalDetail .tabList>li.is-active:nth-child(1) .tabHeader-sp>span {
    color: #45a5f6;
    background: url(../images/icon_detail_01_active.png) no-repeat center left;
}

.modalDetail .tabHeaderList>li.is-active:nth-child(2)>span,
.modalDetail .tabList>li.is-active:nth-child(2) .tabHeader-sp>span {
    color: #45a5f6;
    background: url(../images/icon_detail_02_active.png) no-repeat center left;
}

.modalDetail .tabHeaderList>li.is-active:nth-child(3)>span,
.modalDetail .tabList>li.is-active:nth-child(3) .tabHeader-sp>span {
    color: #45a5f6;
    background: url(../images/icon_detail_03_active.png) no-repeat center left;
}

.modalDetail .tabBody {
    background: #fff;
    border: 1px solid #dbecf2;
    border-radius: 0 20px 20px 20px;
    padding: 30px;
    height: 430px;
    box-shadow: 4px -6px 24px 0 rgba(224, 240, 244, 0.57);
}

.modalDetail .tabBody .inner {
    max-height: 370px;
}

#mCSB_1_scrollbar_vertical {
    width: 18px !important;
}

.mCSB_scrollTools {
    opacity: 1 !important;
}

.modalDetail .mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail {
    background: #ebebeb;
    width: 12px;
    border-radius: 6px;
    opacity: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 17px !important;
    height: 17px !important;
    border-radius: 50%;
    background: #45a5f6 !important;
}

.modalDetail .tabBody .bodyTitle {
    color: #496071;
    font-size: 1.375em;
    line-height: 1;
    font-weight: 600;
    padding-left: 30px;
    background: url(../images/icon_detail_info.png) no-repeat left center;
    margin-bottom: 5px;
}

.modalDetail .tabBody .infoArea {
    margin-bottom: 20px;
}

.modalDetail .tabBody .infoArea dt {
    width: 270px;
    float: left;
    font-size: 1em;
    line-height: 1.875;
    color: #6c869b;
    font-weight: 300;
    padding-left: 30px;
}

.modalDetail .tabBody .infoArea dd {
    margin-left: 270px;
    font-size: 1em;
    line-height: 1.875;
    color: #3c4f5e;
    padding-left: 30px;
}

@media (max-width: 1559px) {
    .banner01 {
        display: none;
    }
}

@media (max-width: 1170px) {
    .contentDetail {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1024px) {
    .wrap {
        padding: 0 15px;
    }
    .sideArea,
    .maincontentArea {
        width: 100%;
        float: none;
    }
    .card .ttl,
    .card .btn>a {
        font-size: 1em;
    }
    .card .starList>.star {
        margin-right: 5px;
    }
    .kvContent {
        padding-right: 15px;
    }
    .imgCategory00 {
        padding-left: 15px;
        margin-top: 0;
    }
    .kvContent h2 {
        font-size: 1.4em;
    }
    .actionBtnList {
        margin-left: 0;
    }
    .likeBtn {
        margin-right: 40px;
        margin-bottom: 10px;
    }
    /*	DETAIL*/
    .tabHeaderList {
        width: 0;
    }
    .tabHeader-sp {
        border-radius: 20px 20px 20px 20px;
        border: 1px solid #dbecf2 !important;
    }
    .tabList>li.is-active .tabHeader-sp {
        border-radius: 20px 20px 0 0;
    }
    .tabBody {
        border-radius: 0 0 20px 20px;
        margin-bottom: 16px;
    }
    .cardImgArea {
        float: none;
        width: 100%;
        max-width: 358px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .btnArea {
        width: auto;
        margin-top: 30px;
    }
    .cardContent01 {
        padding: 0;
        text-align: center;
    }
    .box01 .cardName {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .kv {
        max-height: initial;
        padding: 0 15px 20px 15px;
    }
    .imgCategory00,
    .kvContent {
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .kvContent h2 {
        max-width: 400px;
        margin: 0 auto;
    }
    .kvContent p {
        text-align: left;
    }
    .blockPromo {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    .hide-sp {
        display: none !important;
    }
    .box01 {
        margin-left: auto;
        margin-right: auto;
    }
    .box03 {
        padding-left: 0;
        padding-right: 0;
    }
    #popupDetail .modal-dialog {
        margin: 15px 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .btnCloseDetail {
        background: #45a4f4;
        padding: 5px;
        border-radius: 50%;
        position: fixed;
        z-index: 999;
    }
}

@media (max-width: 680px) {
    .card .img_card,
    .card .cardContent {
        float: none;
        width: 100%;
        padding-left: 0;
        margin-left: 0;
    }
    .card .img_card {
        margin-bottom: 20px;
    }
    .selectSort {
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .ttlSort {
        margin-bottom: 10px;
    }
    .gridshowArea {
        top: 30px;
    }
    .btnArea {
        float: none;
        width: 200px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .cardContent01 {
        float: none;
        width: 100%;
    }
    .tabBody {
        padding-left: 15px;
        padding-right: 15px;
    }
    .tabBody .infoArea dl {
        margin-bottom: 20px;
    }
    .tabBody .infoArea dt {
        float: none;
        width: 100%;
    }
    .tabBody .infoArea dd {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .card {
        margin-right: 0;
        width: 100%;
        float: none;
    }
    .kvContent h2 {
        max-width: 300px;
        font-size: 1em;
    }
    .blockPromo {
        text-align: center;
    }
    .blockPromo .imgPromo {
        float: none;
        width: auto;
        max-width: 100%;
        display: inline-block;
    }
    .blockPromo .content {
        margin-left: 0;
        margin-top: 20px;
    }
}