.promotion-page {
    background-color: #f1f8fa;
    background-image: unset;
}

img {
    max-width: 100%;
}

.content-promotion {
    margin-bottom: 110px;
}

.block-filter-promotion {
    padding: 15px 25px;
    background-color: #fff;
    margin-top: 25px;
}

.filter-bank,
.filter-time {
    position: relative;
}

.filter-bank:after,
.filter-time:after {
    content: "▼";
    position: absolute;
    right: 7px;
    top: 2px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    color: #0981ff;
    font-size: 30px;
    line-height: 23px;
}

#promotion-bank,
#promotion-time {
    outline: 0;
    border: 1px solid #dfebee;
    padding: 6px 30px 6px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    color: #4a808e;
    font-size: 18px;
}

#promotion-bank option,
#promotion-time option {
    color: #4a808e;
    font-size: 18px;
}

.block-filter-promotion:after {
    content: '';
    display: block;
    clear: both;
}

.block-filter-promotion .title,
.block-filter-promotion .filter-time,
.block-filter-promotion .filter-bank {
    float: left;
}

.block-filter-promotion .title {
    padding-right: 15px;
    padding-top: 5px;
    font-family: 'BalooTamma';
    color: #45a4f4;
    font-size: 25px;
}

.block-filter-promotion .filter-time {
    width: 25%;
    margin: 0px 15px;
}

.block-filter-promotion .filter-bank {
    width: 25%;
    margin: 0px 15px;
}

.block-content-promotion {
    background-color: transparent;
    margin-top: 25px;
}

.promotion-list-blog {
    margin: 0;
    padding: 0;
}

.promotion-list-blog::after {
    display: block;
    clear: both;
    content: '';
}

.item-promotion-blog {
    padding: 15px;
    background-color: #fff;
    float: left;
    display: block;
    vertical-align: top;
    width: calc((100% - 50px) / 3);
    margin-right: 25px;
    margin-top: 25px;
    transition: 500ms all ease;
}

.item-promotion-blog:hover {
    transition: 500ms all ease;
    transform: scale(1.02);
    box-shadow: 0px 0px 8px 5px #d7f2fa
}

.item-promotion-blog:nth-child(3n +3) {
    margin-right: 0;
}

.item-promotion-blog .logo {
    padding-bottom: 10px;
}

.item-promotion-blog .title {
    color: #2887fb;
    font-size: 16px;
    padding: 10px 0px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 22px;
    max-height: 58px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-promotion-blog .time-blog {
    padding-left: 25px;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    padding-bottom: 15px;
}

.item-promotion-blog .time-blog:before {
    position: absolute;
    content: '';
    background-color: #e43d43;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 5px;
    left: 0;
}

.block-btn-pro {
    width: 100%;
    text-align: center;
}

.block-btn-pro .btn-detail,
.block-btn-pro .btn-open-card {
    outline: 0;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.block-btn-pro .btn-detail {
    background-color: #45a4f4;
    border: 1px solid #45a4f4;
}

.block-btn-pro .btn-detail:hover {
    background-color: #fff;
    color: #45a4f4;
}

.block-btn-pro .btn-open-card:hover {
    background-color: #fff;
    color: #4dd965;
}

.block-btn-pro .btn-open-card {
    background-color: #4dd965;
    border: 1px solid #4dd965;
    margin-left: 10px;
}

@media(max-width: 1200px) {
    .block-btn-pro .btn-detail,
    .block-btn-pro .btn-open-card {
        padding: 10px 10px;
    }
}

@media(max-width: 992px) {
    .item-promotion-blog {
        width: calc((100% - 50px) / 2);
    }
    .block-filter-promotion .filter-time,
    .block-filter-promotion .filter-bank {
        width: 30%;
    }
}

@media(max-width: 767px) {
    .item-promotion-blog {
        margin-right: 0;
        width: 100%;
    }
    .img-blog-pro {
        text-align: center;
    }
    .block-filter-promotion .title,
    .block-filter-promotion .filter-time,
    .block-filter-promotion .filter-bank {
        float: unset;
    }
    .block-filter-promotion .title {
        width: 100%;
        padding-right: 0;
    }
    .block-filter-promotion .filter-bank {
        width: 250px;
        margin: 5px 0px;
    }
    .block-filter-promotion .filter-time {
        width: 250px;
        margin: 5px 0px;
    }
    .content-promotion {
        margin-bottom: 70px;
    }
}

@media(max-width: 320px) {
    .block-btn-pro .btn-open-card {
        margin-left: 0;
        margin-top: 10px;
    }
}

.content-promotion {
    display: none;
}

.promotion-img-content {
    margin-top: 30px;
}

.block-promotion-img {
    padding-top: 30px;
}

@media(max-width: 992px) {
    .promotion-img-content {
        margin-top: 10px;
    }
}