@import url('https://fonts.googleapis.com/css?family=Pacifico');
.service-sidebar {
    margin-left: 35px;
    margin-right: 0;
}

.content-result::after {
    display: block;
    content: '';
    clear: both;
}

.content-result {
    background-color: transparent;
    margin-bottom: 110px;
}

.service-content {
    margin-top: 0;
}

.result-notify {
    padding: 25px 60px;
    margin-bottom: 30px;
    background: #fff url(../images/result/bg-result.png) right top no-repeat;
    font-size: 16px;
}

.result-text {
    font-weight: bold;
    color: #3c4f5e;
}

.result-page .service-sidebar .title {
    font-size: 20px;
    line-height: 28px;
    padding-top: 15px;
}

.title-result {
    font-size: 28px;
    color: #4c9bb6;
    font-family: 'Pacifico', cursive;
    padding-bottom: 25px;
}

.btn-result-sidebar {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    background-color: #4dd965;
    border: 0;
    margin-top: 20px;
    outline: 0;
}

.result-page .service-sidebar {
    min-height: unset;
}

.result-advertise {
    padding-top: 35px;
}

.result-advertise img {
    max-width: 100%;
}

.block-service-item .info-card .title,
.block-service-item .info-card .text {
    padding: 5px 20px;
}

.block-service-item .info-card .title {
    font-weight: bold;
}

span.attention-result {
    background-color: #94c9f6;
    padding: 2px;
    font-size: 16px;
}

@media(max-width: 767px) {
    .service-wrap-content {
        width: 100%;
    }
    .service-sidebar {
        width: 100%;
        margin: 0 auto;
    }
    .block-service-item {
        width: 100%;
    }
    .content-result {
        margin-bottom: 50px;
    }
    .result-notify {
        padding: 20px 15px;
    }
}