.service-page .bg-service {
    text-align: center
}

#service-salary-temp {
    visibility: hidden
}

.content-service {
    margin-bottom: 80px;
    background-color: transparent;
    margin-top: -11%;
    z-index: 25;
    position: relative;
}

.content-service:after {
    content: '';
    display: block;
    clear: both;
}

.service-sidebar {
    min-height: 500px;
    float: left;
    width: 25%;
    margin-right: 35px;
    background-color: #fff;
    text-align: center;
    padding: 15px 10px;
}

.service-sidebar .title {
    font-family: 'BalooTamma';
    font-size: 25px;
    line-height: 40px;
    color: #45a4f4;
}

.service-wrap-content {
    float: left;
    width: 70%;
}

.service-filter {
    background-color: #fff;
    float: left;
    width: 100%;
    padding: 15px 30px;
}

.img-mb {
    display: none
}

.service-filter .title {
    float: left;
    width: 120px;
    color: #45a4f4;
    font-size: 26px;
    font-family: 'BalooTamma';
}

.service-select {
    float: left;
    position: relative;
}

.service-salary,
#service-salary-temp {
    color: #4a808e;
    font-size: 16px;
    border: 1px solid #dfebee;
    padding: 5px 25px 5px 10px;
    outline: 0;
}

.service-salary {
    -webkit-appearance: none;
    /* for webkit browsers */
    -moz-appearance: none;
    /* for firefox */
    appearance: none;
    /* for modern browsers */
    width: 100%;
}

.service-select:after {
    content: "▼";
    position: absolute;
    right: 7px;
    top: 2px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    color: #0981ff;
    font-size: 30px;
    line-height: 23px;
}

.serive-filter-btn {
    float: right;
    margin-left: 30px;
    outline: 0;
    border: 0;
    background-color: #45a4f4;
    font-size: 16px;
    padding: 6px 15px;
    color: #fff;
}

.service-content {
    background-color: #fff;
    margin-top: 25px;
    float: left;
    width: 100%;
}

.service-wrap-content:after {
    display: block;
    content: '';
    clear: both;
}

.block-serive-content {
    padding: 20px;
}

.starList {
    height: 15px;
    overflow: hidden;
}

.starList>.star img {
    vertical-align: top;
    width: 100%;
}

.block-service-item {
    margin-top: 15px;
    border: 1px solid #e1e1e3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.block-service-item :first-child {
    margin-top: 0;
}

.block-service-item:after {
    display: block;
    content: '';
    clear: both;
}

.img-card {
    text-align: center;
    float: left;
    width: 30%;
    padding: 10px 0px;
}

.info-card {
    float: left;
    width: 70%;
    border-left: 1px solid #e1e1e3;
    padding: 10px 0px;
}

.img-card .title {
    color: #45a4f4;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0px;
}

.cardContent {
    padding: 10px 0px;
}

.starList>.star {
    display: inline-block;
    margin-right: 12px;
    width: 18px;
}

.likeBtn.is-active {
    color: #e71d1c;
    background: url(../images/icon_like_active.png) no-repeat 30% 12px;
    margin: 0 auto;
    padding-left: 25px;
}

.compareBtn.is-active {
    background: url(../images/icon_compare_active.png) no-repeat 30% 12px;
    margin: 0 auto;
    padding-left: 25px;
}

.likeBtn {
    color: #3c4f5e;
    font-size: 18px;
    line-height: 1;
    padding-left: 25px;
    padding-top: 10px;
    background: url(../images/icon_like.png) no-repeat 30% 12px;
    margin: 0 auto;
    cursor: pointer;
}

.compareBtn {
    font-size: 18px;
    line-height: 1;
    color: #2369ff;
    padding-left: 25px;
    padding-top: 10px;
    background: url(../images/icon_compare.png) no-repeat 30% 12px;
    margin: 0 auto;
    cursor: pointer;
    padding-bottom: 15px;
}

.block-service-item .info.v01:before {
    content: url(../images/icon_info01.png);
    display: block;
    padding-right: 5px;
    float: left;
    width: 60px;
    background-size: 100%;
    text-align: center;
    margin-top: 10px;
}

.block-service-item .info.v02:before {
    content: url(../images/icon_info02.png);
    display: block;
    padding-right: 5px;
    float: left;
    width: 60px;
    text-align: center;
    background-size: 100%;
    margin-top: 10px;
}

.block-service-item .info.v03:before {
    content: url(../images/icon_info03.png);
    display: block;
    padding-right: 5px;
    float: left;
    width: 60px;
    text-align: center;
    background-size: 100%;
    margin-top: 10px;
}

.block-service-item .info {
    padding-left: 37px;
    margin-bottom: 18px;
}

.color-1 {
    color: #3c4f5e;
}

.block-right-card {
    padding: 0px 20px;
}

.infoList:after {
    content: '';
    display: block;
    clear: both;
}

.infoList li {
    width: 100%;
    float: left;
    padding: 5px 0px;
}

.block-service-item .info {
    padding: 5px 0px;
    margin: 0;
}

.infoList.block-right-card .text {
    float: left;
    display: block;
    border-radius: 5px;
    position: relative;
    width: calc(100% - 70px);
    margin-left: 5px;
    padding: 5px 10px;
}

.block-right-card .service-info-text .text {
    background-color: #f5f5f7;
}

.service-info-text:before {
    margin-top: 5px;
    content: url('../images/service/promo-icon.png');
    display: block;
    padding-right: 5px;
    float: left;
    width: 60px;
    text-align: center;
    background-size: 100%;
}

.info-card .block-right-card:first-child {
    padding-bottom: 0;
}

.info-card .block-right-card:nth-child(2) {
    padding-top: 5px;
    padding-bottom: 10px;
}

.block-border-bottom {
    border-bottom: 1px solid #e1e1e3;
}

.info-card .btn.v01 {
    border: 1px solid #45a4f4;
    border-radius: 0 0 0 10px;
    background: #45a4f4;
}

.info-card .btn.v02 {
    border: 1px solid #4dd965;
    border-radius: 0 0 10px 0;
    background: #4dd965;
}

.info-card .btn {
    display: block;
    padding: 0;
    width: 50%;
}

.info-card .btn>a {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    padding: 25px 0;
    transition: 0.3s;
}

.info-card .btn.v01:hover,
.info-card .btn.v02:hover {
    background: #fff;
}

.info-card .btn.v01:hover a {
    color: #45a4f4;
}

.info-card .btn.v02:hover a {
    color: #4dd965;
}

.bg-service img {
    max-width: 100%;
}

.block-filter-service {
    float: right;
    position: relative;
}

.sidebar-panther-img {
    position: absolute;
    left: -180px;
    top: 195px;
}


/*detail page*/

.wrapDetail {
    width: auto !important;
    max-width: 1170px !important;
    position: relative;
}

.kvDetail {
    border: 7px solid #fff;
    border-bottom: none;
}

.btnCloseDetail {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
}

#popupDetail .contentDetail {
    background: #fff;
    padding-bottom: 70px;
}

.modalDetail {
    position: fixed;
    z-index: 25;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(17, 17, 17, 0.83);
    display: none;
}

.modalDetail.is-active {
    display: block;
}

.box01 {
    padding: 40px 40px 0 40px;
    box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.13);
    margin: 0 35px;
    margin-top: 63px;
    position: relative;
    margin-bottom: 45px;
    border-radius: 30px;
}

.box01 .cardName {
    font-family: 'Baloo';
    font-size: 1.875em;
    color: #5a5a5a;
    line-height: 1;
    margin-bottom: 30px;
}

.cardImgArea {
    width: 35%;
    position: relative;
    padding-top: 25px;
    margin-top: -145px;
}

.cardImgArea>img {
    width: 100%;
}

.cardImgArea .cardTitle01 {
    font-family: 'Baloo';
    font-size: 1.875em;
    color: #45a5f6;
    line-height: 1;
    position: absolute;
    bottom: 100%;
}

.cardContent01 {
    width: 45%;
    padding-left: 40px;
    padding-top: 20px;
}

.btnArea {
    width: 20%;
}

.btnCompare {
    width: 200px;
    max-width: 100%;
    height: 48px;
    border-radius: 24px;
    line-height: 48px;
    color: #2369ff;
    background: #fff;
    font-size: 20px;
    border: 1px solid #2369ff;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.3s;
}

.btnCompare:hover {
    color: #fff;
    background: #2369ff;
}

.btnRegister {
    width: 200px;
    max-width: 100%;
    height: 48px;
    border-radius: 24px;
    line-height: 48px;
    color: #fff;
    background: #4dd965;
    font-size: 20px;
    border: 1px solid #4dd965;
    text-align: center;
    transition: 0.3s;
    margin-bottom: 30px;
}

.btnRegister:hover {
    color: #4dd965;
    background: #fff;
}

.textPromo {
    font-size: 1.5em;
    color: #e71d1c;
    line-height: 1;
    padding-left: 18px;
    background: url(../images/icon_gift.png) no-repeat left center;
}

#page-category .card .textPromo {
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
}

.textPromo.v02 {
    padding-left: 30px;
    background: url(../images/icon_promo_detail.png) no-repeat left top;
}

.blockPromoWrap {
    margin-top: 30px;
}

.blockPromo {
    width: 50%;
}

.blockPromo .imgPromo {
    width: 35%;
}

.blockPromo .content {
    padding: 0 30px;
    margin-left: 35%;
}

.blockPromo .content .title {
    color: #496071;
    font-size: 1.375em;
    line-height: 1.36;
    margin-bottom: 9px;
}

.blockPromo .content .text {
    color: #8699a8;
    font-size: 0.875em;
    line-height: 1.42;
}

.wrapDetailInner {
    max-width: 1030px;
    margin: 0 auto;
}

.box03 {
    padding-bottom: 45px;
    border-bottom: 1px solid #afafb1;
    margin-bottom: 4px;
    margin-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
}

.box04 {
    padding-top: 40px;
    border-top: 1px solid #afafb1;
}

.textRelated {
    font-size: 1.5em;
    line-height: 1;
    color: #e71d1c;
}

.textRelated>span {
    padding-left: 35px;
    background: url(../images/icon_card_detail.png) no-repeat left center;
}

.relatedSlider {
    width: 100%;
    margin-top: 35px;
}

.cardRelated .cardTitle>a {
    display: block;
    font-size: 1.125em;
    line-height: 1.22;
    color: #6c869b;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

.cardRelated {
    padding-bottom: 50px;
}

.cardRelated img {
    display: inline-block;
    transition: 0.3s;
}

.cardRelated:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-box-shadow: -4px 7px 24px 0 rgba(220, 230, 232, 1);
    box-shadow: -4px 7px 24px 0 rgba(220, 230, 232, 1);
}

.relatedSliderDots .slick-dots {
    overflow: hidden;
    text-align: center;
}

.relatedSliderDots .slick-dots>li {
    display: inline-block;
    text-indent: -999999999px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #b7b7b7;
    margin: 0 10px;
    cursor: pointer;
}

.relatedSliderDots .slick-dots>li.slick-active {
    background: #000;
}

.relatedSlider .slick-prev,
.relatedSlider .slick-next {
    color: #c3cfe5;
    font-size: 2.5em;
}

.relatedSlider {
    position: relative;
    padding: 0 30px;
}

.relatedSlider .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.relatedSlider .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modal-dialog {
    display: block;
}


/*responsive*/

@media(max-width: 1440px) {
    .sidebar-panther-img {
        width: 250px;
        left: 0;
    }
    .service-logo img {
        max-width: 80%;
    }
    .sidebar-panther-img img {
        max-width: 100%;
    }
}

@media(max-width: 992px) {
    .img-card {
        width: 100%;
    }
    .info-card {
        width: 100%;
    }
    .block-service-item {
        margin: 15px auto 0px auto;
        width: 80%;
    }
    .sidebar-panther-img {
        width: 195px;
    }
    .info-card {
        border: 0;
    }
}

@media(max-width: 767px) {
    .service-wrap-content {
        width: 100%;
    }
    .service-sidebar {
        width: 100%;
        margin: 0 auto;
    }
    .block-service-item {
        width: 100%;
    }
    .service-sidebar {
        min-height: unset;
    }
    .service-wrap-content {
        margin-top: 20px;
    }
    .sidebar-panther-img {
        position: unset;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        float: left;
    }
}

@media(max-width: 640px) {
    .service-sidebar {
        width: 100%;
    }
    .service-wrap-content {
        width: 100%;
    }
    .service-select {
        float: left;
    }
    .serive-filter-btn {
        float: left;
        margin-top: 20px;
        margin-left: 0;
    }
    .service-filter .title {
        width: 100%;
    }
    .img-card,
    .info-card {
        width: 100%;
    }
    .block-right-card {
        padding: 0px 10px;
    }
    .img-card {
        height: unset;
    }
    .info-card .btn>a {
        padding: 15px 0px;
        font-size: 16px;
    }
    .service-logo img {
        max-width: 45%;
    }
    .service-sidebar {
        min-height: unset
    }
    .img-mb {
        display: block;
    }
    .img-pc {
        display: none;
    }
    .content-service {
        margin-top: -20%;
    }
    .sidebar-panther-img {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        float: left;
        width: 100%;
    }
    .sidebar-panther-img img {
        max-width: 100%;
    }
}