body {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    line-height: 1.25;
}

/*Float*/
.cf {
	zoom: 1;
}
.cf:before, .cf:after {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}

.text-bold{
	font-weight: bold;
}

.vertical-mid{
	vertical-align: middle;
}

.dp_hide{
	display: none !important;
}

.wrapThankyou{
	background: url(../images/thankyou_bg.jpg) repeat-x top center;
}

.wrapThankyouInner{
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 174px;
}

.meseg_thank{
	background: #fff;
	width: 670px;
	border-radius: 32px;
	padding: 39px 45px 28px;
	position: absolute;
	top: 46px;
	left: 0;
}

.meseg_thank p{
	color:#0e333f;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 34px;
	line-height: 30px;
}

.btn_thank{
	width: 166px;
	padding: 10px 0;
	background: #4dd965;
	text-align: center;
	border-radius: 25px;
}

.btn_thank a{
	color:#fff;
	text-transform: uppercase;
	font-size: 16px;
}

.meseg_thank::after{
	content: '';
	display: block;
	background: url(../images/meseg_after.png) top right no-repeat;
	width: 159px;
	height: 72px;
	position: absolute;
	right: -30px;
    bottom: -71px;
}

.navbar-nav.main-menu >li>a {
    color: #2f3639;
}

.thankyou_img img{
	width: 100%;
	margin: 0 auto;
}

@media (max-width:768px){
	.meseg_thank{
		width: 90%;
		height: auto;
		position: static;
		padding: 20px;
		margin-left: 50%;
		transform: translateX(-50%);
	}
	.meseg_thank p{
		margin-bottom: 10px;
    	font-size: 14px;
	}
	
	.thankyou_img{
		width: 100%;
	}
	
	.meseg_thank::after{
		left: 40px;
	}
	
	.wrapThankyouInner{
		padding: 50px 0;
	}
	
	ul.main-menu li a {
		padding-left: 15px;
	}
}

/*Van date : 21-03-2018*/
.wrapOuterInfo{
	position: relative;
}

.banner_right{
	position: fixed;
	right: 10%;
	top: 126px;
	z-index: 99999;
}

@media (width: 1024px){
	.banner_right{
		display: none;
	}
}

@media (max-width: 768px){
	.banner_right{
		display: none;
	}
}